<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Self Catering Holiday Villa in Portland Jamaica">

<meta name="keywords" content="Holiday,Villa,Portland,Port Antonio,Jamaica,Self Catering,Travel, Excursions, Beaches, Experiential Trips. Tours, Sight seeing, Yoga, Waterfalls, Rivers, Rafting, Blue Lagoon, Sun ,Sand, Sea">

<meta name="author" content="Machel Slack">

<meta property="fb:app_id"             content="619443938242215" />
<meta property="og:url"                content="http://www.sinopiainn.com/directions-and-location.html" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Sinopia Inn - Self Catering Holiday Villa in Portland Jamaica | Directions & Location" />
<meta property="og:description"        content="Self Catering Holiday Villa in Portland Jamaica" />
<meta property="og:image"              content="http://www.sinopiainn.com/images/homepage1.jpg" />

<link rel="stylesheet" type="text/css" href="/styles/main.css">



<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Self Catering Holiday Villa in Portland Jamaica">

<meta name="keywords" content="Holiday,Villa,Portland,Port Antonio,Jamaica,Self Catering,Travel, Excursions, Beaches, Experiential Trips. Tours, Sight seeing, Yoga, Waterfalls, Rivers, Rafting, Blue Lagoon, Sun ,Sand, Sea">

<title> Sinopia Inn  -  Self Catering Holiday Villa in Portland Jamaica  | Directions & Location </title>


</head>

<body ng-app="sinopia" onload="showDivs(3)">


<!-- The Modal -->
<div id="myModal" class="modal-footer-panel">

  <!-- Modal content -->
  <div class="modal-content-footer">
    <div class="modal-header">
      <span class="close">&times;</span>
      <p>This website uses cookies. We use cookies to help make this website better, to improve our services and for advertising purposes.You can learn more about our use of cookies and change your browser settings in order to avoid cookies by clicking <a href="privacy-and-cookies-statement.html"> here. </a>  Would you like to continue ?   <label><input type="radio" name="optradio" class="cookies-yes" value="yes">&nbsp;Yes</label>&nbsp;<label><input type="radio" name="optradio" class="cookies-no" value="no">&nbsp;No</label></p>
    </div>
 
  </div>

  </div>

<nav id="mySidenav" class="sidenav" >

<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

<ul>

<li class="dropdown-link"> <a href="index.html" >   HOME   </a>  </li>

<li class="dropdown-link"> <a href="our-villa.html" > OUR VILLA </a> 



</li>  

<li class="dropdown-link" > <a href="rooms-and-rates.html"  >ROOMS AND RATES </a>
</li>  

<li class="dropdown-link"> <a href="food-and-travel.html"  >FOOD AND TRAVEL</a>  

<div class="dropdown-content">

<a href="day-passes.html" > Plan a trip </a>

<a href="culinary-experiences.html"> Culinary Experiences </a> 
 
<a href="beaches.html" > Beaches </a>

 <a href="treks.html" > Mountain and Bike Treks </a>
 
 <a href="yoga.html" > Yoga</a>
 
 <a href="experiential-trips.html" > Experiential Trips</a>
 
 <a href="local-experiences.html" > Local Experiences and Events</a>

 <a href="family-sporting-trips.html" > Family and Sporting Trips </a>

</div>


<li> <a href="rewards-and-recognition.html" > <span > REWARDS AND RECOGNITION </span> </a> </li>
<li class="dropdown-link" > <a href="contact.html"  > CONTACT </a>
</li> 
<li class="dropdown-link" > <a href="/blog/index.html"  > BLOG </a>
</li> 




</ul>  
</nav>

<header  class="" >
<div style="float:right;padding:10px;" id="google_translate_element"></div> 
</header>



<header class="topnav-header">


<ul class="topnav">

<li class="dropdown-link"> <a href="index.html" >  <span > HOME </span>   </a>  


</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link"> <a href="our-villa.html" >  <span > OUR VILLA </span>   </a>  


</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="rooms-and-rates.html"  > <span >  ROOMS AND RATES</span></a>
</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link"> <a href="food-and-travel.html"  > <span > FOOD AND TRAVEL </span></a>  

<div class="dropdown-content">

      <a href="day-passes.html" > Plan a trip </a>
 <a href="culinary-experiences.html"> Culinary Experiences </a>
<a href="beaches.html" > Beaches </a>

 <a href="treks.html" > Mountain and Bike Treks </a>
 
 <a href="yoga.html" > Yoga</a>
 
 <a href="experiential-trips.html" > Experiential Trips</a>
 
 <a href="local-experiences.html" > Local Experiences</a>

 <a href="family-sporting-trips.html" > Family and Sporting Trips </a>

</div></li> <span class= "menudivider" >| </span>

<li> <a href="rewards-and-recognition.html" > <span > REWARDS AND RECOGNITION </span> </a> </li> <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="contact.html"  > <span >  CONTACT </span></a>
</li><span class= "menudivider" >| </span>  <li class="dropdown-link" > <a href="/blog/index.html"  > <span >  BLOG </span></a>
</li> 

<li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="openNav()">☰</a>
</li>



</ul></header>
<header  class="topnav-top-header" >
<ul class="topnav-top">



 <li class="logo_link">  </li>

<li class="dropdown-link"> 




</li>  





</ul>
<a href="index.html" ><img src="/images/logo_header.png" class="logo" ></a>
</header>

<!--style='background-image:url("images/sinopia_inn.jpg"); background-repeat: no-repeat;background-size:cover;'-->

<div class="slideshow-container">

<div class=""  >


<div class="row" style="margin:0px!important;">

    <div class="col-sm-4 " >
         


<div class='home_text'>

<div class="home_text_innerdiv"  > 


<p class="home_text_caption" >

SINOPIA INN 

</p>


<p class="home_text_sub_caption" >

Not just a villa , refining your experience here in Jamaica


</p> 




<p class="home_text_sub_sub_caption" > 




</p> 

</div>


</div>


    </div>

     <div class="col-sm-8 " > </div>

</div>


<img src="../images/directions.jpg" style="width:100%"/>


</div>



</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 

</div>






</div>



<div class="shortcodeformOuterform">

<form method="post"  >
 

<div class="row checkavaiabiltyrow shortcodeform" ng-hide='availabilty'>


<div class="col-sm-3 " id='checkavaiabiltyrow' >

<div class="form-group has-success has-feedback">



<input type="text" class="form-control"  id="fromdate" name="from" ng-model="fromdate"  placeholder="CHECK IN"  > 

<span class="glyphicon glyphicon-calendar form-control-feedback" ></span> 

</input> 

</div>

</div>

<div class="col-sm-3" id='checkavaiabiltyrow' >

<div class="form-group has-success has-feedback">



<input type="text" class="form-control" id="todate"  name="to" ng-model="todate" placeholder="CHECK OUT"> 

<span class="glyphicon glyphicon-calendar form-control-feedback"></span>  

</input> 

</div>

</div>

<div class="col-sm-3" id='checkavaiabiltyrow' >

<div class="form-group has-success has-feedback">



<input id="promo" class="form-control" type="text" name='promo' ng-model="promo" placeholder="PROMO CODE" /> 

<span class="glyphicon glyphicon-qrcode form-control-feedback"></span>

</div>

</div> 

<div class="col-sm-3" id='checkavaiabiltyrow' >



<button class="btn btn-default btn-block outline" type="button"  id="checkavailability"  ng-click="checkavailability()">CHECK AVAILABILITY</button> 

</div>

</div>



<div id='errormessage' class='checking'> <p id="error" class="error"> {{error}} </p> </div>


</form>

</div><div  class="container-fluid maindiv">

<section>



<h3>Mailing address </h3>
<p>Zion Hill, Fairy Hill P.O  Portland, Jamaica </br> Call : +1 212 888 7000 </br> Write to : info@sinopiainn.com </p>



</section>

<p class="side_menu_title">  </p> 
&nbsp;

<section class="8">



<h4>FROM SANGSTERS INTERNATIONAL AIRPORT MONTEGO BAY , JAMAICA <span class="more-directions"> * click heading for more directions </span> </h4>

<h5 style="cursor: pointer;" data-toggle="collapse" data-target="#salesperacquisition">Continue to A1</h5>

<div id="salesperacquisition" class="collapse">

<ul>

  <li>Head north pass Classique MNJ Montego Bay Car Rental</li>
  <li>Turn left on to roundabout</li>
  <li>At the roundabout, take the 1st exit</li>

</ul>


</div>

<h5 style="cursor: pointer;" data-toggle="collapse" data-target="#A3TOA4">Continue on A1. Drive from A3 and A4 to Fairy Hill</h5>
<div id="A3TOA4" class="collapse">

<ul >
  <li>At the roundabout, take the 1st exit onto A1</li>
  <li>Turn left to stay on A1 Pass by University of the West Indies (Western Jamaica Campus) (on the right)</li>
  <li>Slight right to stay on A1 Pass by Cornwall Automotive School (on the left in 500 m)</li>
  <li>Turn right to stay on A1
Pass by Lilliput Jerk Centre (on the right in 14.0 km)</li>
  <li>Slight left to stay on A1
Pass by Discovery Bay Bauxite Pier (on the left)</li>
  <li>At the roundabout, take the 1st exit and stay on A1</li>
  <li>Continue straight to stay on A1
Pass by White River Texaco (on the right in 11.7 km)</li>
  <li>Continue onto A3
Pass by Deleta's Delight by Shirley (on the left in 4.0 km)</li>
  <li>Turn right</li>
  <li>Turn left</li>
  <li>Continue onto Free Hill Rd</li>
  <li>Turn left onto Baileys Vale Rd</li>
  <li>Turn right onto A3</li>
  <li>At the roundabout, take the 1st exit</li>
  <li>Continue onto A4 Pass by Buff Bay (on the left in 10.0 km)</li>
  <li>Continue onto A4 Pass by Portland Transport Authority (on the right in 7.5 km)</li>
  <li>Continue onto West St/A4 Pass by Emmanuel Apostolic Church, Snow Hill (on the left in 1.4 km)</li>
  <li>Continue onto Boundbrook Pass by ShanShy Beach Complex (on the left in 3.7 km)</li>
  <li>Turn left onto W Palm Ave Pass by Fusion Night Club (on the right)</li>
  <li>Continue onto West St. Pass by Port Antonio Total Service Station (on the left in 350 m)</li>
  <li>Turn right at National Commercial Bank onto Gideon Ave</li>
  <li>At Public Sanitary Conveniences, Gideon Ave turns right and becomes West St</li>
  <li>Continue onto Allan Ave</li>
  <li>Continue onto Folly Rd</li>
  <li>Continue onto Fair Prospect to Folly Rd</li>
  <li>Pass by charlie brown craft shop (on the right in 1.5 km)</li>
  <li>Fair Prospect to Folly Rd turns slightly right and becomes A4 Pass by Star San Villa (on the left in 350 m)</li>
  <li>Turn left</li>
</ul>


</div>


<h5>Dragon Bay Rd Fairy Hill, Jamaica</h5>

<p class="side_menu_title">  </p> 
&nbsp;
<h4>FROM NORMAN MANLEY INTERNATIONAL AIRPORT KINGSTON , JAMAICA <span class="more-directions"> * click heading for more directions </span> </h4>
<h5>via A3 and A4</h5>


<h5 style="cursor: pointer;" data-toggle="collapse" data-target="#route1a">Continue to Norman Manley High Way</h5>
<div id="route1a" class="collapse">


<ul>
  <li>Head west</li>
  <li>Slight left</li>
</ul>


</div>

<h5 style="cursor: pointer;" data-toggle="collapse" data-target="#route1b">Continue on Norman Manley Hwy. Drive from Sir Florizel Glasspole Hwy, Mountain View Ave, A3, A4, ... and Fair Prospect to Folly Rd to Fairy Hill</h5>
<div id="route1b" class="collapse">

<ul>
  <li>At the roundabout, take the 1st exit onto Norman Manley Hwy</li>
  <li>At the roundabout, take the 1st exit onto Sir Florizel Glasspole Hwy
Pass by Superboard (on the left in 2.9 km)</li>
  <li>Continue onto A4</li>
  <li>Turn right onto Michael Manley Blvd/Windward Rd Continue to follow Windward Rd Pass by Goodnews Wholesale (on the right in 1.1 km)</li>
  <li>Turn right onto Mountain View Ave Pass by Edge Hill Hotel (on the right in 2.2 km)</li>
  <li>Continue straight past Firearm Licensing Authority onto Seaview Ave
Pass by Embassy of the People's Republic of China (on the right in 550 m)</li>
  <li>Turn right onto Lady Musgrave Rd Pass by Gifted Hands Chiropractic Center (on the right)</li>
  <li>At Williams Guest Houses, continue onto E Kings House Rd Pass by Ribbiz UltraLounge (on the left in 1.2 km)</li>
  <li>Turn left onto Barbican Rd Pass by Shields and Shields (on the right)</li>
  <li>Turn right onto Arcadia Dr</li>
  <li>Turn left onto Roseberry Dr</li>
  <li>Turn right onto Shortwood Rd Pass by Stella Maris Roman Catholic Church (on the right in 450 m)</li>
  <li>Continue onto Olivier Rd Pass by Ernst &amp; Young Chartered Accountants (on the right in 1.1 km)</li>
  <li>Turn right onto Olivier Rd/Shortwood Rd</li>
  <li>Turn right onto Constant Spring Rd Pass by Rubis (on the left)</li>
  <li>Slight left toward Constant Spring Rd</li>
  <li>Slight left onto Constant Spring Rd</li>
  <li>Continue straight onto Old Stony Hill Rd</li>
  <li>Slight right</li>
  <li>Slight right</li>
  <li>Turn left onto Stony Hill Rd</li>
  <li>Continue onto A3
Pass by Temple Hall New Testament Church Of God (on the left in 2.1 km)</li>
  <li>At the roundabout, take the 2nd exit</li>
  <li>Continue onto A4 Pass by Buff Bay (on the left in 10.0 km)</li>
  <li>Continue onto A4 Pass by Portland Transport Authority (on the right in 7.5 km)</li>
  <li>Continue onto West St/A4 Pass by Emmanuel Apostolic Church, Snow Hill (on the left in 1.4 km)</li>
  <li>Continue onto Boundbrook Pass by ShanShy Beach Complex (on the left in 3.7 km)</li>
  <li>Turn left onto W Palm Ave Pass by Fusion Night Club (on the right)</li>
  <li>Continue onto West St. Pass by Port Antonio Total Service Station (on the left in 350 m)</li>
  <li>Turn right at National Commercial Bank onto Gideon Ave</li>
  <li>At Public Sanitary Conveniences, Gideon Ave turns right and becomes West St</li>
  <li>Continue onto Allan Ave</li>
  <li>Continue onto Folly Rd</li>
  <li>Continue onto Fair Prospect to Folly Rd</li>
  <li>Fair Prospect to Folly Rd turns slightly right and becomes A4 Pass by Star San Villa (on the left in 350 m)</li>
  <li>Turn left</li>
</ul>


</div>


<h5>Dragon Bay Rd Fairy Hill, Jamaica</h5>

<p class="side_menu_title">  </p> 
&nbsp;

<h4>FROM NORMAN MANLEY INTERNATIONAL AIRPORT KINGSTON , JAMAICA <span class="more-directions"> * click heading for more directions </span> </h4>
<h5>via A4</h5>


<h5 style="cursor: pointer;" data-toggle="collapse" data-target="#route2a">Continue to Norman Manley High Way</h5>
<div id="route2a" class="collapse">

<ul>
  <li>Head west</li>
  <li>Slight left</li>
</ul>


</div>

<h5 style="cursor: pointer;" data-toggle="collapse" data-target="#route2b">Follow A4 to Fairy Hill</h5>
<div id="route2b" class="collapse">


<ul>
  <li>At the roundabout, take the 1st exit onto Norman Manley Hwy</li>
  <li>At the roundabout, take the 3rd exit onto A4 Pass by Total Yallahs (on the right in 23.1 km)</li>
  <li>At the roundabout, take the 2nd exit and stay on A4 Pass by the park (on the right in 1.2 km)</li>
  <li>Continue onto A4 Pass by Johnson's Petroleum Gas Station (on the right in 19.5 km)</li>
  <li>Continue onto Muirton to Prospect Rd Pass by Machioneal All Age School (on the left in 500 m)</li>
  <li>Continue onto A4 Pass by Blue Mountain Soapworks (on the left in 7.6 km)</li>
  <li>Sharp right to stay on A4 Pass by Fair Prospect Primary School (on the left in 3.0 km)</li>
  <li>Continue onto A4 Pass by Castle Police Station (on the right)</li>
<li>Turn right onto Dragon Bay Road</li>

</ul>


</div>

<h5>Dragon Bay Rd Fairy Hill, Jamaica</h5>






</section>

</div>

<footer>
<div class="row firstrow">

  <div class="col-sm-4" id="footer_column_3">  

<h6> CONNECT WITH SINOPIA INN </h6>

<div class="row iconset">
  
  <div class="col-sm-12"> 

<img  src="/images/social-media/facebook.png" onclick="socialShare(this)" style="cursor:pointer;">  <img  src="/images/social-media/pin.png" onclick="socialSharePinInterest(this)" style="cursor:pointer;">   <img  src="/images/social-media/tube.png">   <img  src="/images/social-media/twitter.png" onclick="socialShareTwitter(this)" style="cursor:pointer;"> <img  src="/images/social-media/linkedIn.png"> <img  src="/images/social-media/mail.png" onclick="socialShareMail(this)" style="cursor:pointer;">

  </div>

</div>

</br>

<div class="row">

  <div class="col-sm-12 download_buttons_col" > 

<h6> <i class="fa fa-mobile" style="font-size:30px;color:black"></i><i class="fa fa-mobile" style="font-size:36px;color:black"></i>  &nbsp;GET THE MOBILE APP </h6>
  
  </div>

 </div>


<div class="row">

  <div class="col-sm-12 download_buttons_col" > 


   <input class="download_buttons" src="/images/google_button.png" type="image" /> <input class="download_buttons"  src="/images/apple_button.png" type="image" />

 
  </div>


 
</div>

</br>

<a href="index.html"><img src='images/logo.png' /></a>
&nbsp;</br>
<p>Zion Hill, Fairy Hill P.O  Portland, Jamaica </br> +1 212 888 7000 - info@sinopiainn.com </p>


 </div>



 <div class="col-sm-4" id="footer_column_3">  





<h6>MORE LINKS </h6>

<ul> 

<li> <a href="directions-and-location.html" > Location & Directions </a> </li>
 
<li> <a href="reservation.html" > Make a reservation</li>
 
<li> <a href="mobile-app.html" > Smartphone App</li>
  
</ul>

<h6> <a href="blog/index.html" class="footer_column_3_link_title"> RECENT BLOG POSTS </a> </h6> 

<ul id="recent_blog_posts" style="list-type:square!important;"></ul>



   </div>

   <div class="col-sm-4" id="footer_column_3">  


<h6>STAY IN TOUCH</h6>

<p style="padding-bottom:20px;font-size:small;">Missed us when we’re away? Add your email below so we can update you on news and offers from us at Sinopia Inn.</p>

<form action="connect.html" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" validate  role="form">


<div class="input-group" style="padding-bottom:20px;">

<input type="email" id="subscribers_email" class="form-control" placeholder="Please enter your email address" name="subscribers_email">

<span class="input-group-btn">
<button class="btn btn-secondary" type="button" >
<span class="glyphicon glyphicon-triangle-right" aria-hidden="true">
</button>
</span>
</div>

</form>

<p  style="padding-bottom:10px;font-size:small;">For more information on how we use your personal details please refer to our Privacy Policy and  Cookie Policy

</p>

   </div>

  

   </div>

  


</div>

</footer>

<script src="/jquery/dist/jquery.min.js" ></script>

<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="/scripts/main.js" ></script>

<script src="/scripts/fbShareDialog.js" ></script>

  <script type="text/javascript">

function googleTranslateElementInit() {

  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');

}

</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</body>

</html>