<form action="make-a-reservation" method="POST" ng-init="reservationinit()">

<div class="row" >

<div class="col-sm-3" id='bookinglabel' ><p class="side_menu_title"> Reserve online </label> </div><div class="col-sm-9" ></p> </div>

</div>

<div class="row" ng-hide='availabilty'>

<div class="col-sm-3" id='checkavaiabiltyrow' > 

<div class="form-group">

<select id="suites" class="form-control input-sm" name='room' ng-model='suites'>

</select>  

</div> 

</div>

<div class="col-sm-2" id='checkavaiabiltyrow' > 

<div class="form-group has-success has-feedback">

<input type="text" class="form-control input-sm"  id="fromdate" name="from" ng-model="fromdate"> 

<span class="glyphicon glyphicon-th form-control-feedback"></span> 

</input> 

</div>

</div>

<div class="col-sm-2" id='checkavaiabiltyrow' > 

<div class="form-group has-success has-feedback">

<input type="text" class="form-control input-sm" id="todate"  name="to" ng-model="todate"> 

<span class="glyphicon glyphicon-th form-control-feedback"></span>  

</input> 

</div>

</div>

<div class="col-sm-2" id='checkavaiabiltyrow' > 

<div class="form-group has-success has-feedback">

<input id="promo" class="form-control input-sm" type="text" placeholder="PROMO CODE" name='promo' id="promo" ng-model="promo"/> 

<span class="glyphicon glyphicon-qrcode form-control-feedback"></span>

</div>




</div>

<div class="col-sm-3" id='checkavaiabiltyrow' > <button class="btn btn-default btn-block input-sm outline" type="button"  id="checkavailability" ng-click="checkavailability()">CHECK AVAILABILITY</button> 
 </div>

</div>
<div id='errormessage' class='checking'>  <p> {{error}}  </div>
</form>
