
<nav id="mySidenav" class="sidenav">

<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

<ul>

<li class="dropdown-link"> <a href="index.html" >   HOME   </a>  </li>

<li class="dropdown-link"> <a href="our-villa.html" > OUR VILLA </a> 



</li>  

<li class="dropdown-link" > <a href="rooms-and-rates.html"  >ROOMS AND RATES </a>
</li>  

<li class="dropdown-link"> <a href="food-and-travel.html"  >FOOD AND TRAVEL</a>  

<div class="dropdown-content">

<a href="day-passes.html" > Plan a trip </a>

<a href="culinary-experiences.html"> Culinary Experiences </a> 
 
<a href="beaches.html" > Beaches </a>

 <a href="treks.html" > Mountain and Bike Treks </a>
 
 <a href="yoga.html" > Yoga</a>
 
 <a href="experiential-trips.html" > Experiential Trips</a>
 
 <a href="local-experiences.html" > Local Experiences and Events</a>

 <a href="family-sporting-trips.html" > Family and Sporting Trips </a>

</div>


<li> <a href="rewards-and-recognition.html" > <span > REWARDS AND RECOGNITION </span> </a> </li>
<li class="dropdown-link" > <a href="contact.html"  > CONTACT </a>
</li> 
<li class="dropdown-link" > <a href="/blog/index.html"  > BLOG </a>
</li> 




</ul>  
</nav>

<header  class="" >
<div style="float:right;padding:10px;" id="google_translate_element"></div> 
</header>



<header class="topnav-header">


<ul class="topnav">

<li class="dropdown-link"> <a href="index.html" >  <span > HOME </span>   </a>  


</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link"> <a href="our-villa.html" >  <span > OUR VILLA </span>   </a>  


</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="rooms-and-rates.html"  > <span >  ROOMS AND RATES</span></a>
</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link"> <a href="food-and-travel.html"  > <span > FOOD AND TRAVEL </span></a>  

<div class="dropdown-content">

      <a href="day-passes.html" > Plan a trip </a>
 <a href="culinary-experiences.html"> Culinary Experiences </a>
<a href="beaches.html" > Beaches </a>

 <a href="treks.html" > Mountain and Bike Treks </a>
 
 <a href="yoga.html" > Yoga</a>
 
 <a href="experiential-trips.html" > Experiential Trips</a>
 
 <a href="local-experiences.html" > Local Experiences</a>

 <a href="family-sporting-trips.html" > Family and Sporting Trips </a>

</div></li> <span class= "menudivider" >| </span>

<li> <a href="rewards-and-recognition.html" > <span > REWARDS AND RECOGNITION </span> </a> </li> <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="contact.html"  > <span >  CONTACT </span></a>
</li><span class= "menudivider" >| </span>  <li class="dropdown-link" > <a href="/blog/index.html"  > <span >  BLOG </span></a>
</li> 

<li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="openNav()">☰</a>
</li>



</ul></header>
<header  class="topnav-top-header" >
<ul class="topnav-top">



 <li class="logo_link">  </li>

<li class="dropdown-link"> 




</li>  





</ul>
<a href="index.html" ><img src="/images/logo_header.png" class="logo" ></a>
</header>




<div class="slideshow-container" style='background-image:url("images/food-and-travel-big.jpg"); background-repeat: no-repeat;background-size:cover;'>


<div class="row" style="margin:0px!important;">

    <div class="col-sm-4 " >
         

    </div>

     <div class="col-sm-8 " > </div>
</div>





</div>

<div class="slideshow-container">

<div class="mySlides"  >


<div class="row" style="margin:0px!important;">
    <div class="col-sm-4 " > </div>
    <div class="col-sm-4 " >
         




    </div>

    <img src="/images/sunset.jpg" style="width:100%">
</div>


<!--<div itemscope itemtype="http://schema.org/VideoObject"><meta itemprop="uploadDate" content="2016-11-30T17:30:24+0000" /><meta itemprop="name" content="falls.m4v" /><meta itemprop="thumbnailUrl" content="http://content.jwplatform.com/thumbs/Tvemu9yp-1280.jpg" /><meta itemprop="contentUrl" content="http://content.jwplatform.com/videos/Tvemu9yp-B7Z4erL4.mp4" /><script src="//content.jwplatform.com/players/Tvemu9yp-0cRv1FH1.js"></script></div>-->

</div>


<div ng-controller = "reservationsystem" class="container-fluid maindiv">







<section>

  <div class="row">
  


 <div class="col-sm-12" >

 <h1 class="side_menu_title " style="text-align:center!important;" >We're  so excited to see you again !  </p> 

</div>

</div>

</section>


</br>


<section>

<div class="row">

<div class="col-sm-4">
&nbsp;
</div>

<div class="col-sm-4">


 <form class="form-horizontal" role="form" name="contactForm" novalidate data-ng-model="contactForm">

  <div class="form-group">
 
  
    <div class="col-sm-12">

      <label> Your name (required) </label> 
      <input type="text" class="form-control" id="name" required data-ng-model="name" name="name"> 
    </div>




  </div>
  <div class="form-group">
   
    <div class="col-sm-12"> 

        <label> Your email (required) </label> 

      <input type="email" class="form-control" id="email"  required name="email" data-ng-model="email">
    </div>

 


  </div>
   

<div class="form-group">
   
    <div class="col-sm-12"> 

      <label>How much would you rate us ? </label>
   
    </div>
  </div>

<div class="form-group">
   
    <div class="col-sm-12"> 


    <div class="col-sm-1"> 

   &nbsp;

      </div>

    <div class="col-sm-2"> 

     <input type="image" src="http://example.com/path/to/image.png" />

      </div>


 <div class="col-sm-2"> 

     <input type="image" src="http://example.com/path/to/image.png" />

      </div>


       <div class="col-sm-2"> 

     <input type="image" src="http://example.com/path/to/image.png" />

      </div>

       <div class="col-sm-2"> 

     <input type="image" src="http://example.com/path/to/image.png" />

      </div>

       <div class="col-sm-2"> 

     <input type="image" src="http://example.com/path/to/image.png" />

      </div>

       <div class="col-sm-1"> 

   &nbsp;

      </div>
             </div>


  </div>
  
<div class="form-group">
   
    <div class="col-sm-12"> 

      <label>Comments on accomodation </label>
     <textarea class="form-control" rows="5" id="message" data-ng-model="message"></textarea>
    </div>
  </div>


<div class="form-group">
   
    <div class="col-sm-12"> 

      <label>Comments on reception </label>
     <textarea class="form-control" rows="5" id="message" data-ng-model="message"></textarea>
    </div>
  </div>


  <div class="form-group">
   
    <div class="col-sm-12"> 

      <label>Comments on breakfast </label>
     <textarea class="form-control" rows="5" id="message" data-ng-model="message"></textarea>
    </div>
  </div>


    <div class="form-group">
   
    <div class="col-sm-12"> 

      <label>Comments on leisure activites </label>
     <textarea class="form-control" rows="5" id="message" data-ng-model="message"></textarea>
    </div>
  </div>


    <div class="form-group">
   
    <div class="col-sm-12"> 

      <label>Improvements that you'll like to see </label>
     <textarea class="form-control" rows="5" id="message" data-ng-model="message"></textarea>
    </div>
  </div>


  <div class="form-group"> 
     <div class="col-sm-8"> </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-default contact-us-button " id="send_button" data-ng-click="contact_form_submission()" 

       data-ng-disabled="contactForm.name.$invalid || contactForm.email.$invalid"

      > Submit</button>
    

    </div>

  </div>

</form>



  <div>

    <div class="col-sm-4">

</div>

</div>
</section>


    </div>

  </div>


<section>
<div class="row">
  
 <div class="col-sm-12" style="text-align:center;"> 

<div id="map"> </div>

</div> 

 

</div>

</section>

</br>

</section>


</div>

<!-- The Modal -->
<div id="myModal" class="modal-footer-panel">

  <!-- Modal content -->
  <div class="modal-content-footer">
    <div class="modal-header">
      <span class="close">&times;</span>
      <p>This website uses cookies</p>
    </div>
    <div class="modal-body">


      <p>We use cookies to help make this website better, to improve our services and for advertising purposes. </p> <p> You can learn more about our use of cookies and change your browser settings in order to avoid cookies by clicking <a href="privacy-and-cookies-statement.html"> here. </a> </p>

      <p> Would you like to continue ? <div class="radio">
  <label><input type="radio" name="optradio" class="cookies-yes" value="yes">&nbsp;Yes</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" class="cookies-no" value="no">&nbsp;No</label>
</div> </p>
    </div>
 
  </div>

  </div><footer>
<div class="row firstrow">

  <div class="col-sm-4" id="footer_column_3">  





<h6> CONNECT WITH SINOPIA INN </h6>

<div class="row iconset">
  
  <div class="col-sm-12"> 

 <img  src="/images/social-media/facebook.png">  <img  src="/images/social-media/pin.png">   <img  src="/images/social-media/tube.png">   <img  src="/images/social-media/twitter.png"> <img  src="/images/social-media/linkedIn.png"> <img  src="/images/social-media/instagram.png">

  </div>

</div>

</br>

<div class="row">

  <div class="col-sm-12 download_buttons_col" > 

<h6> <i class="fa fa-mobile" style="font-size:30px;color:black"></i><i class="fa fa-mobile" style="font-size:36px;color:black"></i>  &nbsp;GET THE MOBILE APP </h6>
  
  </div>

 </div>


<div class="row">

  <div class="col-sm-12 download_buttons_col" > 


   <input class="download_buttons" src="/images/google_button.png" type="image" /> <input class="download_buttons"  src="/images/apple_button.png" type="image" />

 
  </div>


 
</div>

</br>

<a href="index.html"><img src='images/logo.png' /></a>
&nbsp;</br>
<p>Zion Hill, Fairy Hill P.O  Portland, Jamaica </br> +1 212 888 7000 - info@sinopiainn.com </p>


 </div>



 <div class="col-sm-4" id="footer_column_3">  





<h6>MORE LINKS </h6>

<ul> 

<li> <a href="directions-and-location.html" > Location & Directions </a> </li>
 
<li> <a href="reservation.html" > Make a reservation</li>
 
<li> <a href="mobile-app.html" > Smartphone App</li>
  
</ul>

<h6> <a href="blog/index.html" class="footer_column_3_link_title"> RECENT BLOG POSTS </a> </h6> 

<ul id="recent_blog_posts" style="list-type:square!important;"></ul>



   </div>

   <div class="col-sm-4" id="footer_column_3">  


<h6>STAY IN TOUCH</h6>

<p style="padding-bottom:20px;font-size:small;">Missed us when we’re away? Add your email below so we can update you on news and offers from us at Sinopia Inn.</p>

<form action="connect.html" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" validate  role="form">


<div class="input-group" style="padding-bottom:20px;">

<input type="email" id="subscribers_email" class="form-control" placeholder="Please enter your email address" name="subscribers_email">

<span class="input-group-btn">
<button class="btn btn-secondary" type="button" >
<span class="glyphicon glyphicon-triangle-right" aria-hidden="true">
</button>
</span>
</div>

</form>

<p  style="padding-bottom:10px;font-size:small;">For more information on how we use your personal details please refer to our Privacy Policy and  Cookie Policy

</p>

   </div>

  

   </div>

  


</div>

</footer>

<script src="/jquery/dist/jquery.min.js" ></script>

<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="/scripts/contact.js" ></script>

<script src="/scripts/fbShareDialog.js" ></script>

  <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'de,en,es,fr,it,ja,la,nl,pa,pl,pt,ru,sv,th,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRymGUo1SnzUFFYcAjrXO-vJpJ-fwT5NE&callback=initMap"
    async defer></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>



     </script>


