<!DOCTYPE html>
<html>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Self Catering Holiday Villa in Portland Jamaica">

<meta name="keywords" content="Holiday,Villa,Portland,Port Antonio,Jamaica,Self Catering,Travel, Excursions, Beaches, Experiential Trips. Tours, Sight seeing, Yoga, Waterfalls, Rivers, Rafting, Blue Lagoon, Sun ,Sand, Sea">

<meta name="author" content="Machel Slack">

<link rel="stylesheet" type="text/css" href="/styles/your-trip.css">

<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="intl-tel-input-9.2.0/build/css/intlTelInput.css">


<link rel="icon" 
      type="image/png" 
      href="/images/jmtrax_icon.png">
  

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Self Catering Holiday Villa in Portland Jamaica">

<meta name="keywords" content="Holiday,Villa,Portland,Port Antonio,Jamaica,Self Catering,Travel, Excursions, Beaches, Experiential Trips. Tours, Sight seeing, Yoga, Waterfalls, Rivers, Rafting, Blue Lagoon, Sun ,Sand, Sea">

<title> Sinopia Inn  -  Self Catering Holiday Villa in Portland Jamaica  | Your Trip </title>

<body class="body-class" ng-app="travellight" ng-controller="travelplanner" ng-cloak>

<nav id="mySidenav" class="sidenav">

<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

<ul>

<li class="dropdown-link"> <a href="index.html" >   HOME   </a>  </li>

<li class="dropdown-link"> <a href="our-villa.html" > OUR VILLA </a> 

<div class="dropdown-content">

  <a href="food-and-drink.html"> Food And Drink </a>  

</div>

</li>  

<li class="dropdown-link" > <a href="rooms-and-rates.html"  >ROOMS AND RATES </a>
</li>  

<li class="dropdown-link"> <a href="food-and-travel.html"  >FOOD AND TRAVEL</a>  

<div class="dropdown-content">

   <a href="day-passes.html" > Plan a trip </a>
 <a href="culinary-experiences.html"> Culinary Experiences </a>
<a href="beaches.html" > Beaches </a>

 <a href="treks.html" > Mountain and Bike Treks </a>
 
 <a href="yoga.html" > Yoga</a>
 
 <a href="experiential-trips.html" > Experiential Trips</a>
 
 <a href="local-experiences.html" > Local Experiences</a>

 <a href="family-sporting-trips.html" > Family and Sporting Trips </a>

</div>


<li> <a href="rewards-and-recognition.html" > <span > REWARDS AND RECOGNITION </span> </a> </li>
<li class="dropdown-link" > <a href="contact.html"  > CONTACT </a>
</li> 
<li class="dropdown-link" > <a href="/blog/index.html"  > BLOG </a>
</li> 




</ul>  
</nav>

<header>
   <div style="float:right;padding:10px;" id="google_translate_element"></div>

</header>

<header style="text-align:center;padding:30px;" >
<ul class="topnav-top">



 <li class="logo_link">  </li>

<li class="dropdown-link"> 




</li>  





</ul>
<a href="index.html" ><img src="/images/logo_header.png" class="logo" ></a>
</header>

<header class="topnav-header">


<ul class="topnav">

<li class="dropdown-link"> <a href="index.html" >  <span > HOME </span>   </a>  


</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link"> <a href="our-villa.html" >  <span > OUR VILLA </span>   </a>  


</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="rooms-and-rates.html"  > <span >  ROOMS AND RATES</span></a>
</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link"> <a href="food-and-travel.html"  > <span > FOOD AND TRAVEL </span></a>  

<div class="dropdown-content">

      <a href="day-passes.html" > Plan a trip </a>
 <a href="culinary-experiences.html"> Culinary Experiences </a>
<a href="beaches.html" > Beaches </a>

 <a href="treks.html" > Mountain and Bike Treks </a>
 
 <a href="yoga.html" > Yoga</a>
 
 <a href="experiential-trips.html" > Experiential Trips</a>
 
 <a href="local-experiences.html" > Local Experiences</a>

 <a href="family-sporting-trips.html" > Family and Sporting Trips </a>

</div></li> <span class= "menudivider" >| </span>

<li> <a href="rewards-and-recognition.html" > <span > REWARDS AND RECOGNITION </span> </a> </li> <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="contact.html"  > <span >  CONTACT </span></a>
</li><span class= "menudivider" >| </span>  <li class="dropdown-link" > <a href="/blog/index.html"  > <span >  BLOG </span></a>
</li> 

<li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="openNav()">☰</a>
</li>



</ul></header>



<section class="itinerary-main-section container-fluid" >


<section>

<div class="row">


<div class="col-sm-6 " id="abc"  >  <!-- class="itinerary-main-section-left" style="text-align:left;display: table;"-->






<!--<span style = "vertical-align:middle; display: table-cell;"> -->

</br>
<span >

<form class="form-horizontal" role="form" name="contactForm" novalidate data-ng-model="contactForm" style="background-color: #f0f0f1;padding:10px; border-radius:5px;">

  <div class="form-group">
 
  
    <div class="col-sm-12">
      <input type="text" class="form-control" id="name" placeholder="Your name (required)" required data-ng-model="name" name="name"> 
    </div>




  </div>
  <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="email" class="form-control" id="email" placeholder="Your email (required)" required name="email" data-ng-model="email">
    </div>

 


  </div>


  
<div class="form-group">
   
    <div class="col-sm-12"> 
  

  <table>
<tr>

<td> <input type="tel" id="phone" class="form-control" placeholder="phone" data-ng-model="phone">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="intl-tel-input-9.2.0/build/js/intlTelInput.js"></script>
<script>
  $("#phone").intlTelInput();
</script>
</td> 

<td><p> 

Adults</br>
<select  class="" name="adults" ng-model="numadults">


<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>

</select> 


</p>

</td>


<td><p> 
Children</br>
<select  class="" name="children"  ng-model="numchildren">

<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>

</select> 


</p>
</td>


<td><p> 
Infants</br>
<select  class="" name="infants"  ng-model="numinfants">

<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>


</select>  


</p>

</td>


</tr>

  </table>


    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-12">
      <button type="button" class="btn btn-default send_button" id="send_button" data-ng-click="bookTrip()" 

       data-ng-disabled="contactForm.name.$invalid || contactForm.email.$invalid"

      > Send</button>
    

    </div>

  </div>

</form>

</span>

<table style="position:relative; width: 100%;border-bottom:thin solid #f6f6f6;padding:20px;"  ng-repeat="accomodation in accomodations">

<tr> <td rowspan ='5' >  <img src="accomodation.logourl" style="width:25%;padding:10px;height:50%" class="img-responsive" /> </td> <td> <h3> {{accomodation.businessname}}</h3> </td> <td> </td>  </tr>

<tr> <td > {{accomodation.businessaddress}} </td>  <td rowspan ='3'>  

<div class="radio" >

<label><input type="radio" ng-model="hotelID" value="accomodation._id" ng-change="setHotelid($index)"> </label>
  
</div> 

</td> </tr>

<tr> <td> {{accomodation.businessphone}} </td>   </tr>

<tr> <td> {{accomodation.businessemail}} </td>   </tr>

<tr> <td> {{accomodation.businesswebsite}} </td>  <td> </td> </tr>

</table>

</div>

<h1> Your Itinerary  </h1> 


<div class="col-sm-6  "  style="display: table;"> 

<div style = "vertical-align:middle; display: table-cell;" >

<div class="row"  >

<div class="col-sm-6"> &nbsp;</div>

<div class="col-sm-3"> <p> General Admission </p> </div>

<div class="col-sm-3"> <p> Avg Price </p> </div>


</div>


<div class="row" ng-repeat=" business in filteredbusinesses = ( businesses | itineraryFilter:itinerary_array  ) " style="padding:5px;">

<div class="col-sm-6"> <p> {{business.businessname }}</p> </div>


<div class="col-sm-3"> <p> {{calplacetotal(business,numadults,numchildren,numinfants)}} </p> </div>

<div class="col-sm-3" style="text-align:right;"> <p> {{calplaceavg(business,numadults,numchildren,numinfants)}}</p> </div>


</div>




<div class="row sub-total-row" style="padding:5px;">


<div class="col-sm-6 " > <p> Sub Total </p> </div>


<div class="col-sm-3"> <p> £ {{tocurrency(subtotal)}}</p> </div>

<div class="col-sm-3" style="text-align:right;"> <p> £ {{tocurrency(subavgtotal)}} </p> </div>

</div>

<div class="row sub-total-row" style="padding:5px;">

<div class="col-sm-6 " > <p> Base Fare  - {{}}</p> </div>

<div class="col-sm-3"> <p> </p> </div>

<div class="col-sm-3" style="text-align:right;"> <p> £ {{calculatebasefare()}} </p> </div>

</div>

<div class="row sub-total-row" style="padding:5px;">

<div class="col-sm-6 " > <p> Per Mile  - {{}}</p> </div>

<div class="col-sm-3"> <p> </p> </div>

<div class="col-sm-3" style="text-align:right;"> <p> £ {{calculatemilefare()}} </p> </div>

</div>

<div class="row sub-total-row" style="padding:5px;">

<div class="col-sm-6 " > <p> Per Minute  - {{}}</p> </div>

<div class="col-sm-3"> <p> </p> </div>

<div class="col-sm-3" style="text-align:right;"> <p> £ {{calculateminutefare()}} </p> </div>

</div>
<div class="row sub-total-row" style="padding:5px;">

<div class="col-sm-6 " > <p> Minimum Fare (*includes car or bus hire) - {{}}</p> </div>

<div class="col-sm-3"> <p> </p> </div>

<div class="col-sm-3" style="text-align:right;"> <p> £ {{carhire}} </p> </div>

</div>




<div class="row tax-total-row" style="padding:5px;">


<div class="col-sm-6 "> <p> Tax </p> </div>


<div class="col-sm-3"> <p>  </p> </div>

<div class="col-sm-3" style="text-align:right;"> <p> £ {{tocurrency(tax)}}</p> </div>

</div>


<div class="row total-total-row" style="padding:5px;">


<div class="col-sm-6 "> <p> Fare Estimate </p> </div>


<div class="col-sm-3" > <p>  </p> </div>

<div class="col-sm-3"style="text-align:right;"> <p> £ {{itineraryTotal()}} </p> </div>

</div>




</div>

</div>

</div>

</section>

</section>




<!-- The Modal -->
<div id="myModal" class="modal-footer-panel">

  <!-- Modal content -->
  <div class="modal-content-footer">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>This website uses cookies</h2>
    </div>
    <div class="modal-body">
      <p>To find out how we use cookies click <a href="privacy-and-cookies-statement.html"> here </a> to read our cookies and privacy notice</p>
      <p>Would you like to contiue <div class="radio">
  <label><input type="radio" name="optradio" class="cookies-yes" value="yes">Yes</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" class="cookies-no" value="no">No</label>
</div> </p>
    </div>
    <div class="modal-footer">
      <h3></h3>
    </div>
  </div>

  </div><footer>
<div class="row">

  <div class="col-sm-3" id="footer_column_1">  

<a href="index.html"><img src='images/logo.png' /></a>
&nbsp;</br>
<p>Zion Hill, Fairy Hill P.O </br> Portland, Jamaica </br> +1 212 888 7000 </br> info@sinopiainn.com </p>


 </div>

 <div class="col-sm-3" id="footer_column_2">  
  <h6> <a href="blog/index.html" > RECENT BLOG POSTS </a> </h6> 

<ul id="recent_blog_posts" style="list-type:square!important;"></ul>



   </div>

   <div class="col-sm-3" id="footer_column_3">  

<h6>MORE LINKS </h6>

<ul> 

<li> <a href="directions-and-location.html" > Location & Directions </a> </li>
 
<li> <a href="reservation.html" > Make a reservation</li>
 
<li> <a href="rewards-and-recognition.html" > rewards </li><li> <a href="mobile-app.html" > Smartphone App</li>
 
<li> <a href="mobile-app.html" > Download the mobile app</li>
 
<li> <a href="connect.html" > Contact Us</li>
 


</ul>








   </div>

   <div class="col-sm-3" id="footer_column_4">  

<p style="padding-bottom:10px;"> STAY IN TOUCH</p>

<p style="padding-bottom:20px;font-size:small;">Missed us when we’re away? Add your email below so we can update you on news and offers from us at Sinopia Inn.</p>

<form action="" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" validate  role="form">


<div class="input-group" style="padding-bottom:20px;">

<input type="email" id="subscribers_email" class="form-control" placeholder="Please enter your email address" name="subscribers_email">

<span class="input-group-btn">
<button class="btn btn-secondary" type="button" >
<span class="glyphicon glyphicon-triangle-right" aria-hidden="true">
</button>
</span>
</div>

</form>

<p  style="padding-bottom:10px;font-size:small;">For more information on how we use your personal details please refer to our Privacy Policy and  Cookie Policy

</p>


   </div>


</div>

</footer>

<!-- <script src="/javascripts/main.js" ></script>

<script src="/javascripts/main-controller.js" ></script>-->

<script src="/jquery/dist/jquery.min.js" ></script>

<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="/scripts/your-itinerary.js" ></script>






</script>

</body>
</html>