<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Self Catering Holiday Villa in Portland Jamaica">

<meta name="keywords" content="Holiday,Villa,Portland,Port Antonio,Jamaica,Self Catering,Travel, Excursions, Beaches, Experiential Trips. Tours, Sight seeing, Yoga, Waterfalls, Rivers, Rafting, Blue Lagoon, Sun ,Sand, Sea">

<meta name="author" content="Machel Slack">

<meta property="fb:app_id"             content="619443938242215" />
<meta property="og:url"                content="http://www.sinopiainn.com/our-villa.html" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Sinopia Inn - Self Catering Holiday Villa in Portland Jamaica | Our Villa" />
<meta property="og:description"        content="Self Catering Holiday Villa in Portland Jamaica" />
<meta property="og:image"              content="http://www.sinopiainn.com/images/homepage1.jpg" />

<link rel="stylesheet" type="text/css" href="/styles/main.css">

<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  

<link rel="icon" 
      type="image/png" 
      href="/images/jmtrax_icon.png"><link href='//fonts.googleapis.com/css?family=Waiting for the Sunrise' rel='stylesheet'>
  

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Self Catering Holiday Villa in Portland Jamaica">

<meta name="keywords" content="Holiday,Villa,Portland,Port Antonio,Jamaica,Self Catering,Travel, Excursions, Beaches, Experiential Trips. Tours, Sight seeing, Yoga, Waterfalls, Rivers, Rafting, Blue Lagoon, Sun ,Sand, Sea">

<title> Sinopia Inn  -  Self Catering Holiday Villa in Portland Jamaica  | Our Villa </title>


</head>

<body ng-app="sinopia" ng-controller = "reservationsystem" onload="showSlides()">

<!-- The Modal -->
<div id="myModal" class="modal-footer-panel">

  <!-- Modal content -->
  <div class="modal-content-footer">
    <div class="modal-header">
      <span class="close">&times;</span>
      <p>This website uses cookies. We use cookies to help make this website better, to improve our services and for advertising purposes.You can learn more about our use of cookies and change your browser settings in order to avoid cookies by clicking <a href="privacy-and-cookies-statement.html"> here. </a>  Would you like to continue ?   <label><input type="radio" name="optradio" class="cookies-yes" value="yes">&nbsp;Yes</label>&nbsp;<label><input type="radio" name="optradio" class="cookies-no" value="no">&nbsp;No</label></p>
    </div>
 
  </div>

  </div>

<nav id="mySidenav" class="sidenav" >

<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

<ul>

<li class="dropdown-link"> <a href="index.html" >   HOME   </a>  </li>

<li class="dropdown-link"> <a href="our-villa.html" > OUR VILLA </a> 



</li>  

<li class="dropdown-link" > <a href="rooms-and-rates.html"  >ROOMS AND RATES </a>
</li>  

<li class="dropdown-link"> <a href="food-and-travel.html"  >FOOD AND TRAVEL</a>  

<div class="dropdown-content">

<a href="day-passes.html" > Plan a trip </a>

<a href="culinary-experiences.html"> Culinary Experiences </a> 
 
<a href="beaches.html" > Beaches </a>

 <a href="treks.html" > Mountain and Bike Treks </a>
 
 <a href="yoga.html" > Yoga</a>
 
 <a href="experiential-trips.html" > Experiential Trips</a>
 
 <a href="local-experiences.html" > Local Experiences and Events</a>

 <a href="family-sporting-trips.html" > Family and Sporting Trips </a>

</div>


<li> <a href="rewards-and-recognition.html" > <span > REWARDS AND RECOGNITION </span> </a> </li>
<li class="dropdown-link" > <a href="contact.html"  > CONTACT </a>
</li> 
<li class="dropdown-link" > <a href="/blog/index.html"  > BLOG </a>
</li> 




</ul>  
</nav>

<header  class="translateheader" >

<div id="google_translate_element"></div> 

</header>



<header class="topnav-header">


<ul class="topnav">

<li class="dropdown-link"> <a href="index.html" >  <span > HOME </span>   </a>  


</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link"> <a href="our-villa.html" >  <span > OUR VILLA </span>   </a>  


</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="rooms-and-rates.html"  > <span >  ROOMS AND RATES</span></a>
</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link"> <a href="food-and-travel.html"  > <span > FOOD AND TRAVEL </span></a>  

<div class="dropdown-content">

      <a href="day-passes.html" > Plan a trip </a>
 <a href="culinary-experiences.html"> Culinary Experiences </a>
<a href="beaches.html" > Beaches </a>

 <a href="treks.html" > Mountain and Bike Treks </a>
 
 <a href="yoga.html" > Yoga</a>
 
 <a href="experiential-trips.html" > Experiential Trips</a>
 
 <a href="local-experiences.html" > Local Experiences</a>

 <a href="family-sporting-trips.html" > Family and Sporting Trips </a>

</div></li> <span class= "menudivider" >| </span>

<li> <a href="rewards-and-recognition.html" > <span > REWARDS AND RECOGNITION </span> </a> </li> <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="contact.html"  > <span >  CONTACT </span></a>
</li><span class= "menudivider" >| </span>  <li class="dropdown-link" > <a href="/blog/index.html"  > <span >  BLOG </span></a>
</li> 

<li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="openNav()">☰</a>
</li>



</ul></header>
<header  class="topnav-top-header" >
<ul class="topnav-top">



 <li class="logo_link">  </li>

<li class="dropdown-link"> 




</li>  





</ul>
<a href="index.html" ><img src="/images/logo_header.png" class="logo" ></a>
</header>


<div class="slideshow-container">

<div class="mySlides"  >
  <div class="numbertext">1 / 1</div>

<div class="row" style="margin:0px!important;">

    <div class="col-sm-4 " >
         



<div class='home_text'>

<div class="home_text_innerdiv"  > 


<p class="home_text_caption" >

SPACIOUS RETREAT

</p>


<p class="home_text_sub_caption" >

For the price of a standard room at other luxury hotels you will enjoy real value with access to the entire villa and all of its amenities.



</p> 




<p class="home_text_sub_sub_caption" > 




</p> 

</div>


</div>


    </div>

     <div class="col-sm-8 " > </div>
     
</div>


<img src="/images/our-villa-night.jpg" style="width:100%" alt="outdoor deck at night"/>


</div>


</div>

<div class="shortcodeformOuterform" id="span" ng-app='sinopia' ng-controller="reservationsystem" >

<form    action="/reservation/" method="get" name="reservationform" class="reservationform" id="reservationform">
 

<div class="row checkavaiabiltyrow shortcodeform" ng-hide='availabilty'>


<div class="col-sm-3 " id='checkavaiabiltyrow' >

<div class="form-group has-success has-feedback">



<input type="text" class="form-control"  id="fromdate" name="from" ng-model="fromdate"  placeholder="CHECK IN"  > 

<span class="glyphicon glyphicon-calendar form-control-feedback" ></span> 

</input> 

</div>

</div>

<div class="col-sm-3" id='checkavaiabiltyrow' >

<div class="form-group has-success has-feedback">



<input type="text" class="form-control" id="todate"  name="to" ng-model="todate" placeholder="CHECK OUT"> 

<span class="glyphicon glyphicon-calendar form-control-feedback"></span>  

</input> 

</div>

</div>

<div class="col-sm-3" id='checkavaiabiltyrow' >

<div class="form-group has-success has-feedback">



<input id="promo" class="form-control" type="text" name='promo' ng-model="promo" placeholder="PROMO CODE" /> 

<span class="glyphicon glyphicon-qrcode form-control-feedback"></span>

</div>

</div> 

<div class="col-sm-3" id='checkavaiabiltyrow' >



<button class="btn btn-default btn-block outline" type="button"  id="checkavailability"  ng-click="checkavailability()">CHECK AVAILABILITY</button> 

</div>

</div>



<div id='errormessage' class='checking'> <p id="error" class="error"> {{Javascript_is_disable_Enable_Javascript_for_an_enhanced_experience}} </p> </div>


</form>

</div><div  class="container-fluid maindiv">







<section>

<div class="row">

<div class="col-sm-12" >

<p class="side_menu_title "> FINDING SINOPIA INN IS EASY </p>

</div>

</div>



</section>

<section>

  <div class="row">
  
    <div class="col-sm-6" >

<p> With Sinopia Inn every stay is a path to the heart of Jamaica – to the true essence of the country. This is a country home. It was first built in the early 20th century as a country home and rebuilt in the same spirit – nestling on the slopes of Zion Hill, with a contemporary interior decor that complements the parish's natural rustic charm. It is a great holiday location only 7 miles from the parish capital of Port Antonio. </p>

    </div>
 <div class="col-sm-6" >

<p> With the Blue Lagoon (Blue Hole) and Winnifred Beach (Jamaica’s best) within walking distance either way.  Close also are the internationally loved beaches of Frenchman’s Cove and San San. We offer 4 double rooms that can be booked collectively for entertaining a great family / social vacation or individually but with full access to the property – while wifi access allows connection with work and home.</p>


    </div>

  </div>

</section>

<section>

  <div class="row">
  
    <div class="col-sm-6" >


<img src="/images/our-villa-1.png" class="w3-round" alt="Villa driveway" style="width:100%!important;">


 </br>

    </div>
 <div class="col-sm-6" >


<img src="/images/our-villa-2.png" class="w3-round" alt="Villa verandah" style="width:100%!important;">
</br>

    </div>

  </div>

</section>


<section>

  <div class="row">
  
    <div class="col-sm-6" >

<ul> 


<li> Villa Facilities </li>
 
<li>2120 SQ / FT SITUATED ON 2 ACRES OF LUSH GREENLAND</li>
 
<li>SLEEPS 10</li>
 
<li>ROOM PRICES STARTING AT $145 USD</li>



</ul>

<ul> 


<li> OPEN-PLAN LOUNGE AND DINING ROOM
 
<p> You’ll have a seating area with satellite TV and DVD player - with a spacious dining area and an additional bathroom/powder room 
 </p> </li>
 
<li>KITCHEN
 
<p>There’s plenty of room in the kitchen with fitted units and built in appliances.</p> </li>
 
<li>4 DOUBLE BEDROOMS</li>
 
<li>EN SUITE BATHROOMS </li>
 
<li>BARBEQUE / JERK PIT</li>
 
<li>OUTDOOR DECK LOOKING OUT TO THE COOL HILLS OF PORTLAND</li>



</ul>

<ul> 


<li> ONSITE SECURITY 
 
<p> Including manned gatehouse to ensure privacy. </p> </li>
 
<li>PRIVATE CAR HIRE</li>


</ul>
    </div>
 <div class="col-sm-6" >
</br></br>
<h4 class="side_menu_title">Our services</h4>

<p> 
 
We offer a taste of local food as part of our breakfast menu as well as international fare. Our self-catering jerk pit is available – perfect for hosting friends and family on those hot summer days.
 </p>
   
   <p> To underline the quality travel requirements expected by guests, private car hire services and personal tour guides can be made available. Portland will not disappoint with its many attractions: Reach Falls, Nonsuch Caves, Boston Beach and its jerk centres; and the fishing districts of Long Bay and Manchioneal further along the eastern Portland coastline. In the other direction, we have all the bustling day and night life of Port Antonio with its historic ruins (Folly, Titchfield Great House etc.), local shops, buzzing bars and leisurely/duty free marina.</p>



<img src="/images/our-villa-3.png" class="w3-round" alt="Villa outdoor deck" style="width:100%!important;" />
    </div>

  </div>

</section>



<section>

  <div class="row">
  
    <div class="col-sm-6" >


  <img src="/images/our-villa-4.png" class="w3-round" alt="Villa water feature and gazebo" style="width:100%!important;">

    </div>
 <div class="col-sm-6" >


     <img src="/images/our-villa-6.png" class="w3-round" alt="Villa man made jerk pit" style="width:100%!important;">
</br>



    </div>

  </div>

</section>


<section>

  <div class="row">
  
    <div class="col-sm-6" >



    </div>
 <div class="col-sm-6" >


    </div>

  </div>

</section>

<section>

  <div class="row">
  
    <div class="col-sm-6" >

</br>

 

    </div>
 <div class="col-sm-6" >

</br>


    </div>

  </div>

</section>





<section>

  <div class="row">
  
    <div class="col-sm-6" >




    </div>
 <div class="col-sm-6" >




    </div>

  </div>

</section>

<section>

  <div class="row">
  
    <div class="col-sm-6" >


    </div>
 <div class="col-sm-6" >

   
</br>

    </div>

  </div>

</section>

<section>

  <div class="row">
  
    <div class="col-sm-6" >

   

    </div>
 <div class="col-sm-6" >


    </div>

  </div>

</section>


</div>

<footer>
<div class="row firstrow">

  <div class="col-sm-4" id="footer_column_3">  

<h6> CONNECT WITH SINOPIA INN </h6>

<div class="row iconset">
  
  <div class="col-sm-12"> 

<img  src="/images/social-media/facebook.png" onclick="socialShare(this)" style="cursor:pointer;">  <img  src="/images/social-media/pin.png" onclick="socialSharePinInterest(this)" style="cursor:pointer;">   <img  src="/images/social-media/tube.png">   <img  src="/images/social-media/twitter.png" onclick="socialShareTwitter(this)" style="cursor:pointer;"> <img  src="/images/social-media/linkedIn.png"> <img  src="/images/social-media/mail.png" onclick="socialShareMail(this)" style="cursor:pointer;">

  </div>

</div>

</br>

<div class="row">

  <div class="col-sm-12 download_buttons_col" > 

<h6> <i class="fa fa-mobile" style="font-size:30px;color:black"></i><i class="fa fa-mobile" style="font-size:36px;color:black"></i>  &nbsp;GET THE MOBILE APP </h6>
  
  </div>

 </div>


<div class="row">

  <div class="col-sm-12 download_buttons_col" > 


   <input class="download_buttons" src="/images/google_button.png" type="image" /> <input class="download_buttons"  src="/images/apple_button.png" type="image" />

 
  </div>


 
</div>

</br>

<a href="index.html"><img src='images/logo.png' /></a>
&nbsp;</br>
<p>Zion Hill, Fairy Hill P.O  Portland, Jamaica </br> +1 212 888 7000 - info@sinopiainn.com </p>


 </div>



 <div class="col-sm-4" id="footer_column_3">  





<h6>MORE LINKS </h6>

<ul> 

<li> <a href="directions-and-location.html" > Location & Directions </a> </li>
 
<li> <a href="reservation.html" > Make a reservation</li>
 
<li> <a href="mobile-app.html" > Smartphone App</li>
  
</ul>

<h6> <a href="blog/index.html" class="footer_column_3_link_title"> RECENT BLOG POSTS </a> </h6> 

<ul id="recent_blog_posts" style="list-type:square!important;"></ul>



   </div>

   <div class="col-sm-4" id="footer_column_3">  


<h6>STAY IN TOUCH</h6>

<p style="padding-bottom:20px;font-size:small;">Missed us when we’re away? Add your email below so we can update you on news and offers from us at Sinopia Inn.</p>

<form action="connect.html" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" validate  role="form">


<div class="input-group" style="padding-bottom:20px;">

<input type="email" id="subscribers_email" class="form-control" placeholder="Please enter your email address" name="subscribers_email">

<span class="input-group-btn">
<button class="btn btn-secondary" type="button" >
<span class="glyphicon glyphicon-triangle-right" aria-hidden="true">
</button>
</span>
</div>

</form>

<p  style="padding-bottom:10px;font-size:small;">For more information on how we use your personal details please refer to our Privacy Policy and  Cookie Policy

</p>

   </div>

  

   </div>

  


</div>

</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script src="/scripts/main.js" ></script>

<script src="/scripts/fbShareDialog.js" ></script>

  <script type="text/javascript">

function googleTranslateElementInit() {

  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');

}

</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</body>

</html>