<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Self Catering Holiday Villa in Portland Jamaica">

<meta name="keywords" content="Holiday,Villa,Portland,Port Antonio,Jamaica,Self Catering,Travel, Excursions, Beaches, Experiential Trips. Tours, Sight seeing, Yoga, Waterfalls, Rivers, Rafting, Blue Lagoon, Sun ,Sand, Sea">

<meta name="author" content="Machel Slack">

<link rel="stylesheet" type="text/css" href="/styles/main.css">

<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
<link rel="icon" 
      type="image/png" 
      href="/images/jmtrax_icon.png">
  

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Self Catering Holiday Villa in Portland Jamaica">

<meta name="keywords" content="Holiday,Villa,Portland,Port Antonio,Jamaica,Self Catering,Travel, Excursions, Beaches, Experiential Trips. Tours, Sight seeing, Yoga, Waterfalls, Rivers, Rafting, Blue Lagoon, Sun ,Sand, Sea">

<title> Sinopia Inn  -  Self Catering Holiday Villa in Portland Jamaica  | Plan a Trip </title>


</head>

<body ng-app="sinopia">

<nav id="mySidenav" class="sidenav">

<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

<ul>

<li class="dropdown-link"> <a href="our-villa.html" > OUR VILLA </a>  



</li>  

<li class="dropdown-link" > <a href="rooms-and-rates.html"  >ROOMS AND RATES </a>
</li>  

<li class="dropdown-link"> <a href="food-and-travel.html"  >FOOD AND TRAVEL</a>  

<div class="dropdown-content">

<a href="plan-a-trip.html" > Plan a trip </a>

<a href="culinary-experiences.html"> Culinary Experiences </a> 
 
<a href="beaches.html" > Beaches </a>

 <a href="treks.html" > Mountain and Bike Treks </a>
 
 <a href="yoga.html" > Yoga</a>
 
 <a href="experiential-trips.html" > Experiential Trips</a>
 
 <a href="local-experiences.html" > Local Experiences and Events</a>

 <a href="family-sporting-trips.html" > Family and Sporting Trips </a>

</div>


<li> <a href="rewards-and-recognition.html" > <span > REWARDS AND RECOGNITION </span> </a> </li>
<li class="dropdown-link" > <a href="shop.html"  > SHOP </a>
</li> 




</ul>  
</nav>

<header>
   <div style="float:right;padding:10px;" id="google_translate_element"></div>

</header>

<header style="text-align:center;padding:30px;" >
<ul class="topnav-top">



 <li class="logo_link">  </li>

<li class="dropdown-link"> 




</li>  





</ul>
<a href="index.html" ><img src="/images/logo_header.png" class="logo" ></a>
</header>

<header class="topnav-header">


<ul class="topnav">


<li class="dropdown-link"> <a href="our-villa.html" >  <span > OUR VILLA </span>   </a>  


</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="rooms-and-rates.html"  > <span >  ROOMS AND RATES</span></a>
</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link"> <a href="food-and-travel.html"  > <span > FOOD AND TRAVEL </span></a>  

<div class="dropdown-content">

   <a href="plan-a-trip.html" > Plan a trip </a>
 <a href="culinary-experiences.html"> Culinary Experiences </a>
<a href="beaches.html" > Beaches </a>

 <a href="treks.html" > Mountain and Bike Treks </a>
 
 <a href="yoga.html" > Yoga</a>
 
 <a href="experiential-trips.html" > Experiential Trips</a>
 
 <a href="local-experiences.html" > Local Experiences</a>

 <a href="family-sporting-trips.html" > Family and Sporting Trips </a>

</div></li> <span class= "menudivider" >| </span>

<li> <a href="rewards-and-recognition.html" > <span > REWARDS AND RECOGNITION </span> </a> </li> <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="shop.html"  > <span >  SHOP </span></a>
</li> 

<li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="openNav()">☰</a>
</li>



</ul></header>





<div class="slideshow-container-reservation">


<div class="row booking-form-row" style="margin:0px!important;">

    <div class="col-sm-1">


    </div>

    <div class="col-sm-4 bookingform-connect">



    </div>
<div class="col-sm-1"> </div>
    <div class="col-sm-5"> 
<div class="bookingform-rewards">
      <h2 >  

    <span class="bookingform-rewards-heading1" > Exclusive </span>  </br> <span class="bookingform-rewards-heading" > rewards. </span> </h2>
&nbsp;
    <p class="bookingform-subtext" > Beacome a GOLD, PLATINUM , BLACK card memebr when you book a trip with us.</p>
</div>
    </div>

 <div class="col-sm-1"> </div>
    




  </div>

  &nbsp;
   
 <div class="row" style="margin:0px!important;">

  <div class="col-sm-3"><div class="w3-padding-top side_menu_title_para-res" >
 
   <i class="fa fa-coffee service_icon-res" ></i>

   <p class="service_icon-res-heading"> Jamaican Breakfast & Local Rates</p>
   
   <p class="service_icon-res-text"> when you spend three nights or more </p></div></div>

  
  <div class="col-sm-3"><div class="w3-padding-top side_menu_title_para-res" >
 
  <i class="fa fa-car service_icon-res" ></i>
   
   <p class="service_icon-res-heading">Private Car Hire</p>
   
   <p class="service_icon-res-text">for group bookings </p></div></div>
  

   <div class="col-sm-3"><div class="w3-padding-top side_menu_title_para-res" >
 
   <i class="fa fa-bus service_icon-res" ></i>
  
   <p class="service_icon-res-heading">Airport Pick / Drop Off</p>
  
   <p class="service_icon-res-text">for Gold, Platinum and Black  members</p> </div></div>
  
   <div class="col-sm-3">
   
   <div class="w3-padding-top side_menu_title_para-res" >
 
  <i class="fa fa-wifi service_icon-res" ></i>
  
   <p class="service_icon-res-heading">WIFI 24/7</p>
  
  <p class="service_icon-res-text">connection in all rooms</p>
  
  </div></div>


</div>



</div>



<div  class="container-fluid maindiv">

<section>

<div class="row">
  
<div class="col-sm-4" >

<p class="side_menu_title" > Things to do </p> 

<ul> 

<li> <a> Plan a trip </a> </li>

<li><a href="culinary-experiences.html"> Culinary Experiences </a> </li>

<li> <a href="beaches.html" > Beaches </a></li>

<li> <a href="treks.html" > Mountain and Bike Treks </a></li>
 
<li> <a href="yoga.html" > Yoga</a></li>
 
<li> <a href="experiential-trips.html" > Experiential Trips</a></li>
 
<li> <a href="local-experiences.html" > Local Experiences and Events</a></li>

<li> <a href="family-sporting-trips.html" > Family and Sporting Trips </a></l1> 

</ul>


<div class="row">
  
 <div class="col-sm-12" style="text-align:center;"> 

</br>

<form action="make-a-reservation" method="POST"  class="shortcodeform bookingform-homepage bookingform" name="shortcodeform">


  <div class="row" >

    <div class="col-sm-12" id='bookinglabel' ><h4 class="booking-header"> How long would you like to stay ? </h4> </div>

    </div>


    <div class="row" >

    <div class="col-sm-6 booking-form--col" id='bookinglabel' >  </div><div class="col-sm-6 booking-form--col" > </div>

    </div>

    <div class="row" >

     <div class="col-sm-6 booking-form--col" id='bookinglabel' >

<p > Arrival Date </p>

      <div class="form-group has-success has-feedback">

      <input type="text" class="form-control input-sm"  id="fromdate" name="from" ng-model="fromdate" placeholder="DD-MM-YYYY"> 

      <span class="glyphicon glyphicon-th form-control-feedback"></span> 

      </input> 

      </div>  </div>   <div class="col-sm-6 booking-form--col" >
<p> Leaving Date </p>

      <div class="form-group has-success has-feedback">

<input type="text" class="form-control input-sm" id="todate"  name="to" ng-model="todate" placeholder="DD-MM-YYYY"> 

<span class="glyphicon glyphicon-th form-control-feedback"></span>  

</input> 

</div> </div>

    </div>

    <div class="row" >

    <div class="col-sm-6 booking-form--col" id='bookinglabel' ><p> Promo Code </p>  </div><div class="col-sm-6" ></div>

    </div>

    <div class="row" >

    <div class="col-sm-6 booking-form--col" id='bookinglabel' ><div class="form-group has-success has-feedback">

    <input id="promo" class="form-control input-sm" type="text" placeholder="PROMO CODE" name='promo' id="promo" ng-model="promo"/> 

    <span class="glyphicon glyphicon-qrcode form-control-feedback"></span>

    </div> </div><div class="col-sm-6" > <div id='errormessage' class='checking'>  <p> {{error}}  </div> </div>

    </div>

<div class="row" >
 <div class="col-sm-6"> </div>
    <div class="col-sm-6 booking-form--col" id='bookinglabel' > <button class="btn btn-default btn-block input-sm outline-res " type="button"  id="checkavailability" ng-click="checkavailability()">CHECK AVAILABILITY</button>  </div>

    </div>


  </form>

</div> 

 

</div>

</div>
 
<div class="col-sm-8" >

<p class="side_menu_title"> You’ve one life. Why not live it ? </p> 

<p> Head to Portland Jamaica and plan your own trip with Sonopia Inn to venues across the island where you’ll find rare flavoursome dishes, estates of coffee premium liquors and a natural blend of fruits to produce an exotic taste made for paradise. Experience relaxing oceanic view, lush green mountain tops and skies streaking with colour as our island excursions include experimental trips; local culture; multi generation travel ; authentic activities and a personalised service provided by the local people.</p>
  
  <a href="your-trip.html"  style="color: #aa9d2e!important;" > <h1> Click here to get started  </h1> </a>

    </div>

  </div>

</section>

</div>

<footer>
<div class="row firstrow">

  <div class="col-sm-4" id="footer_column_3">  





<h6> CONNECT WITH SINOPIA INN </h6>

<div class="row iconset">
  
  <div class="col-sm-12"> 

 <img  src="/images/social-media/facebook.png">  <img  src="/images/social-media/pin.png">   <img  src="/images/social-media/tube.png">   <img  src="/images/social-media/twitter.png"> <img  src="/images/social-media/linkedIn.png"> <img  src="/images/social-media/instagram.png">

  </div>

</div>

</br>

<div class="row">

  <div class="col-sm-12 download_buttons_col" > 

<h6> <i class="fa fa-mobile" style="font-size:30px;color:black"></i><i class="fa fa-mobile" style="font-size:36px;color:black"></i>  &nbsp;GET THE MOBILE APP </h6>
  
  </div>

 </div>


<div class="row">

  <div class="col-sm-12 download_buttons_col" > 


   <input class="download_buttons" src="/images/google_button.png" type="image" /> <input class="download_buttons"  src="/images/apple_button.png" type="image" />

 
  </div>


 
</div>

</br>

<a href="index.html"><img src='images/logo.png' /></a>
&nbsp;</br>
<p>Zion Hill, Fairy Hill P.O  Portland, Jamaica </br> +1 212 888 7000 - info@sinopiainn.com </p>


 </div>



 <div class="col-sm-4" id="footer_column_3">  





<h6>MORE LINKS </h6>

<ul> 

<li> <a href="directions-and-location.html" > Location & Directions </a> </li>
 
<li> <a href="reservation.html" > Make a reservation</li>
 
<li> <a href="mobile-app.html" > Smartphone App</li>
  
</ul>

<h6> <a href="blog/index.html" class="footer_column_3_link_title"> RECENT BLOG POSTS </a> </h6> 

<ul id="recent_blog_posts" style="list-type:square!important;"></ul>



   </div>

   <div class="col-sm-4" id="footer_column_3">  


<h6>STAY IN TOUCH</h6>

<p style="padding-bottom:20px;font-size:small;">Missed us when we’re away? Add your email below so we can update you on news and offers from us at Sinopia Inn.</p>

<form action="connect.html" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" validate  role="form">


<div class="input-group" style="padding-bottom:20px;">

<input type="email" id="subscribers_email" class="form-control" placeholder="Please enter your email address" name="subscribers_email">

<span class="input-group-btn">
<button class="btn btn-secondary" type="button" >
<span class="glyphicon glyphicon-triangle-right" aria-hidden="true">
</button>
</span>
</div>

</form>

<p  style="padding-bottom:10px;font-size:small;">For more information on how we use your personal details please refer to our Privacy Policy and  Cookie Policy

</p>

   </div>

  

   </div>

  


</div>

</footer>

<script src="/jquery/dist/jquery.min.js" ></script>

<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="/scripts/main.js" ></script>

  <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'de,en,es,fr,it,ja,la,nl,pa,pl,pt,ru,sv,th,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</body>

</html>