<!DOCTYPE html>
<html>


<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Self Catering Holiday Villa in Portland Jamaica">

<meta name="keywords" content="Holiday,Villa,Portland,Port Antonio,Jamaica,Self Catering,Travel, Excursions, Beaches, Experiential Trips. Tours, Sight seeing, Yoga, Waterfalls, Rivers, Rafting, Blue Lagoon, Sun ,Sand, Sea">

<meta name="author" content="Machel Slack">

<link rel="stylesheet" type="text/css" href="/styles/reservation.css">



<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="intl-tel-input-9.2.0/build/css/intlTelInput.css">

<script src="braintree-web/client.js"></script>

<link rel="icon" 
      type="image/png" 
      href="/images/jmtrax_icon.png">
  

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Self Catering Holiday Villa in Portland Jamaica">

<meta name="keywords" content="Holiday,Villa,Portland,Port Antonio,Jamaica,Self Catering,Travel, Excursions, Beaches, Experiential Trips. Tours, Sight seeing, Yoga, Waterfalls, Rivers, Rafting, Blue Lagoon, Sun ,Sand, Sea">

<title> Sinopia Inn  -  Self Catering Holiday Villa in Portland Jamaica  | Make A Reservation </title>

<body class="body-class" ng-app="travellight" ng-controller="travelplanner" ng-cloak>

<nav id="mySidenav" class="sidenav">

<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

<ul>

<li class="dropdown-link"> <a href="our-villa.html" > OUR VILLA </a>  

<div class="dropdown-content">

  <a href="food-and-drink.html"> Food And Drink </a>  

</div>

</li>  

<li class="dropdown-link" > <a href="rooms-and-rates.html"  >ROOMS AND RATES </a>
</li>  

<li class="dropdown-link"> <a href="food-and-travel.html"  >FOOD AND TRAVEL</a>  

<div class="dropdown-content">

   <a href="plan-a-trip.html" > Plan a trip </a>
 <a href="culinary-experiences.html"> Culinary Experiences </a>
<a href="beaches.html" > Beaches </a>

 <a href="treks.html" > Mountain and Bike Treks </a>
 
 <a href="yoga.html" > Yoga</a>
 
 <a href="experiential-trips.html" > Experiential Trips</a>
 
 <a href="local-experiences.html" > Local Experiences</a>

 <a href="family-sporting-trips.html" > Family and Sporting Trips </a>

</div>



<li class="dropdown-link" > <a href="shop.html"  > SHOP </a>
</li> 




</ul>  
</nav>

<header >

<a href="index.html" style="float:left;padding:10px;margin-left:150px;margin-top:20px;"><img src="/images/logo_header.png" class="logo" ></a>

 <div style="float:right;padding:10px;margin-top:20px;" id="google_translate_element"></div>

<ul class="topnav-top">



 <li class="logo_link">  </li>

<li class="dropdown-link"> 

  <div id="google_translate_element"></div>



</li>  





</ul></header>

<header class="topnav-header">


<ul class="topnav">


<li class="dropdown-link"> <a href="our-villa.html" >  <span > OUR VILLA </span>   </a>  


</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="rooms-and-rates.html"  > <span >  ROOMS AND RATES</span></a>
</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link"> <a href="food-and-travel.html"  > <span > FOOD AND TRAVEL </span></a>  

<div class="dropdown-content">

      <a href="plan-a-trip.html" > Plan a trip </a>
 <a href="culinary-experiences.html"> Culinary Experiences </a>
<a href="beaches.html" > Beaches </a>

 <a href="treks.html" > Mountain and Bike Treks </a>
 
 <a href="yoga.html" > Yoga</a>
 
 <a href="experiential-trips.html" > Experiential Trips</a>
 
 <a href="local-experiences.html" > Local Experiences</a>

 <a href="family-sporting-trips.html" > Family and Sporting Trips </a>

</div></li> <span class= "menudivider" >| </span>

<li> <a href="rewards-and-recognition.html" > <span > REWARDS AND RECOGNITION </span> </a> </li> <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="shop.html"  > <span >  SHOP </span></a>
</li> 

<li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="openNav()">☰</a>
</li>



</ul></header>





<section>

<div class="slideshow-container-reservation">


<div class="row booking-form-row" >

    <div class="col-sm-1">


    </div>

    <div class="col-sm-4 bookingform">



    </div>
    <div class="col-sm-1"> </div>
    <div class="col-sm-5"> 
<div class="bookingform-rewards">
      <h2 >  

    <span class="bookingform-rewards-heading1" > Amazing value </span>  </br> <span class="bookingform-rewards-heading" > at an affordable price. </span> </h2>
&nbsp;
    <p class="bookingform-subtext" > Book direct for the best rates. You will have access to the entire villa and all of it's amenities.</p>
</div>
    </div>

 <div class="col-sm-1"> </div>
    




  </div>

  &nbsp;
   
  <div class="row" style="margin-bottom:100px;">

  <div class="col-sm-3"><div class="w3-padding-top side_menu_title_para-res" >
 
   <i class="fa fa-coffee service_icon-res" ></i>

   <p class="service_icon-res-heading"> Jamaican Breakfast & Local Rates</p>
   
   <p class="service_icon-res-text"> when you spend three nights or more </p></div></div>

  
  <div class="col-sm-3"><div class="w3-padding-top side_menu_title_para-res" >
 
  <i class="fa fa-car service_icon-res" ></i>
   
   <p class="service_icon-res-heading">Private Car Hire</p>
   
   <p class="service_icon-res-text">for group bookings </p></div></div>
  

   <div class="col-sm-3"><div class="w3-padding-top side_menu_title_para-res" >
 
   <i class="fa fa-bus service_icon-res" ></i>
  
   <p class="service_icon-res-heading">Airport Pick / Drop Off</p>
  
   <p class="service_icon-res-text">for Gold, Platinum and Black  members</p> </div></div>
  
   <div class="col-sm-3">
   
   <div class="w3-padding-top side_menu_title_para-res" >
 
  <i class="fa fa-wifi service_icon-res" ></i>
  
   <p class="service_icon-res-heading">WIFI 24/7</p>
  
  <p class="service_icon-res-text">connection in all rooms</p>
  
  </div></div>


</div>



</div>


</section>


<section class="itinerary-main-section container-fluid" >





<section >

<div class="row" ng-hide="from_travel">
<div class="col-sm-12 booking-confirmation-row1">
<h1>You must be staying with us to book a trip. Please tell us the dates you would like to travel below.</h1>
<h2> once you've booked a room your ready to go </h2>

</div>
</div>


<form method="post" id="shortcodeform" class="shortcodeform" name="shortcodeform" ng-init="reservationinit()">
 
<div class="row" >

<div class="col-sm-3 bookinglabel" id='bookinglabel' > <label> Reserve online </label> </div><div class="col-sm-9" > </div>

</div>

<div class="row checkavaiabiltyrow" ng-hide='availabilty'>


<div class="col-sm-3 " id='checkavaiabiltyrow' >

<div class="form-group has-success has-feedback">

<label> CHECK IN DATE </label>

<input type="text" class="form-control"  id="fromdate" name="from" ng-model="fromdate"> 

<span class="glyphicon glyphicon-th form-control-feedback"></span> 

</input> 

</div>



</div>

<div class="col-sm-3" id='checkavaiabiltyrow' >

<div class="form-group has-success has-feedback">

<label> CHECK OUT DATE </label>

<input type="text" class="form-control" id="todate"  name="to" ng-model="todate"> 

<span class="glyphicon glyphicon-th form-control-feedback"></span>  

</input> 

</div>

</div>

<script type="text/javascript">

           
        </script>  

<div class="col-sm-3" id='checkavaiabiltyrow' >

<div class="form-group has-success has-feedback">
<label> PROMO CODE  </label>
<input id="promo" class="form-control" type="text" name='promo' ng-model="promo" /> 

<span class="glyphicon glyphicon-qrcode form-control-feedback"></span>

</div>

</div>

<div class="col-sm-3" id='checkavaiabiltyrow' >
<label> </label>
<button class="btn btn-default btn-block" type="button"  id="checkavailability"  ng-click="checkavailability()">CHECK AVAILABILITY</button> 

</div>

</div>

</div>

<div id='errormessage' class='checking'> <p id="error" class="error"> {{error}} </p> </div>

<div class="row" id='calenderrow'>
<div class="col-sm-6" id="frommonth">

</div>

<div class="col-sm-6" id="tomonth">

</div>


</div>

</form>


</section>


</section>

</br>

<section>

<div class="row">
<div class="col-sm-12 booking-confirmation-row1">



<section class="reservation-hotel-section">


<div class="container-fluid maindiv">




<div class="row" >


   <div class="col-sm-5"> 

   <div class="row" id="availablecol" class="availablecol" > 

   <div class="row" id="toprow" style="border:thin solid #aa9d2e!important;"> <div class="col-sm-12"> <h6>Available rooms<h6> </div>  </div>

   <div class="arooms" > 


   <div  ng-repeat="room in roomlist" >

     <div class="w3-container">

         <!--<img src="{{room.icon}}" onclick="displayModal(this)" alt="room_tumbnail" class="w3-left w3-circle w3-margin-right myImg" style="width:60px">-->

         <p>{{room.name}} </br> <p id="cpnbtn" type="button" ng-click = "addroom($index)"  >ADD</p> {{room.description}}  </p> 

     </div>
        

    </div>

         &nbsp;

   </div>

   </div>

   <div class="row" id="offerscol">

   <div class="row" id="toprow"> <div class="col-sm-12"> <h6>Offers <h6> </div>  </div>
   
   <div class="acpns"> 


          <div id="firstinnerrow" ng-repeat="offer in offerlist">



          <div class="w3-container">

         <img src="" alt="room_tumbnail" class="w3-left w3-circle w3-margin-right" style="width:60px">

        <p>{{offer.name}} </br> {{offer.description}} <p id="cpnbtn" type="button" ng-click = "addoffer($index)"  >ADD</p> </p> 
         
         </div>



          

         </div>


   </div>




   </div>



   </div>

 <div class="col-sm-2"> 

 </div>
<div class="col-sm-5"> 

   <div class="row" id="bookingcol" class="bookingcol">

   <div class="col-sm-12"> 
  
   <div class="row" id="toprow"> <div class="col-sm-12"> <h6>Your booking<h6> </div>  </div>

   <div class="bkng" >  



<table style="width:100%;">

<tr>

<td> Room </td> 

<td> Occupancy</td> 

<td> </td> 

<td> </td> 

<td> </td> 

<td> </td> 

</tr>
<tr ng-repeat="chkroom in roomsArray" > <td> <p> {{chkroom.name}}</p></td> <td> <p> {{chkroom.occupancy}}</p></td> <td> <p> 


<select  class="" name="adults" >


<option value="1">1</option>
<option value="2">2</option>

</select> 


</p></td> <td><p> 

<select  class="" name="children" >

<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>


</select> 


</p>
 </td> <td><p> 

<select  class="" name="infants" >

<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>


</select>  


</p> </td> <td> <p class="bkngrmrmv" ng-click="removerm($index)">REMOVE </p>  </td>  </tr>

</table>



   </div> 

   <div class="row" id="toprow"> <div class="col-sm-12"> <h6>Discounts<h6> </div>  </div>

   <div class="bkngcpt" >  



<div id="firstinnerrow" ng-repeat="chkoffer in offersArray" ><div class="row" >

          <div class="col-sm-10">

          <p> {{ chkoffer.name }} </p>

          </div>

          <div class="col-sm-2">

          <p> </p>

          </div>

          </div>

          <div class="row" >

          <div class="col-sm-10">

          <p> {{ chkoffer.description }}  </p>

          </div>
          <div class="col-sm-2">

          <p class="bkngrmrmv" ng-click="removeoffer($index)" >REMOVE </p> 

          </div>

          </div></div>



   </div>

   <div class="row" id="toprow"> <div class="col-sm-12"> <h6>Amenities<h6> </div>  </div>

   <div class="bkngaddons"> 

   <div id="firstinnerrow" ng-repeat="amenity in amenityArray">

   <div class="row" >

   <div class="col-sm-6" >

  Would you like {{ amenity.name }}

   </div>
  
   <div class="col-sm-6" >

  <p>  </p>

   </div>


   </div>
  
 
   <div class="row" >

   <div class="col-sm-4" >
   &nbsp;
   <div class="row" >
  
   <div class="col-sm-12"> 

   
   <label class="radio-inline"><input type="radio" name="{{amenity.name}}" value="Yes" class="radioaddon" >Yes</label>

   <label class="radio-inline"><input type="radio" name="{{amenity.name}}" value="no" class="radioaddon" >No</label>

 
  </div>
  
   

   </div>

   </div>
  
   <div class="col-sm-8">

   <p>  </p>

   </div>

   </div>
     &nbsp;
   </div>






   </div>

  &nbsp;


  

   <div class="row"  > 

   <div class="col-sm-6"> <p><p> </div> 

   <div class="col-sm-3"> <p><p> </div>

   <div class="col-sm-3"> <p><button class="btn btn-default input-sm outline" type="button"  id="chkrates" ng-click="bookingtotal()"> CONTINUE</button><p>     </div>  

   </div>

   </div>
   
   </div>


  <div class="row" id="ratescol" class="ratescol">

   <div class="row"id="toprow" > <div class="col-sm-12"> <h6>Rates<h6> </div>  </div>

   <div> </div>

   <div class="row" id="toprow"> <div class="col-sm-12"> <h6>Rooms<h6> </div>  </div>

   <div class="rtsrms"> 

   <table style="width:100%;" >

   <tr class="row"  ng-repeat="room in roomsArray">

   <td class="col-sm-6"><p>

   {{room.name}}
 
   </p>
  
   </td>
   
   <td class="col-sm-3">

   <p> USD </p>

   </td>

   <td class="col-sm-3" >

   <p> {{tocurrency(room.price * numofdays) }} </p>

   </td>

   </tr>


   </table>

   <div class="row" id="toprow"> <div class="col-sm-12"> <h6>Amenities<h6> </div>  </div>

   <div class="rtsaddons">  

   <table style="width:100%;">

   <tr class="row" ng-if="tripID">
   
   <td class="col-sm-6"><p>

   Excursion
 
   </p>
  
   </td>
   
   <td class="col-sm-3">

   <p> USD </p>

   </td>

   <td class="col-sm-3" >
{{tocurrency(tripTotal)}}
   </td>

    </tr>

   </table>

    <div>
   
   <table style="width:100%;">

   <tr class="row"  ng-repeat="room in amenityArray | filter:room.checked='true'">

   <td class="col-sm-6"><p>

   {{room.name}}
 
   </p>
  
   </td>
   
   <td class="col-sm-3">

   <p> USD </p>

   </td>

   <td class="col-sm-3" >

    <p ng-if="room.frequency === 'person' "> 

    {{ 

        

               tocurrency(room.price * numofadults)



    }} 

   </p>

   <p ng-if="room.frequency === 'room' "> 

    {{ 

        

              tocurrency(room.price * roomsArray.length)



    }} 

   </p>

<p ng-if="room.frequency === 'night' "> 

    {{ 

        

            tocurrency(room.price * numofdays)  



    }} 

   </p>


<p ng-if="room.frequency === 'distance' "> 

    {{ 

        

            tocurrency(room.price * numofdays)  



    }} 

   </p>


   </td>

   </tr>

</table>

   </div>

   <div class="row" id="toprow"> <div class="col-sm-12"> <h6>Offer<h6> </div>  </div>
   <div class="rtsoffs"> 
<table style="with:100%;">

   <tr class="row"  ng-repeat="offer in offersArray">

   <td class="col-sm-6"><p>

   {{offer.name}}
 
   </p>
  
   </td>
   
   <td class="col-sm-3">

   <p> USD </p>

   </td>

   <td class="col-sm-3" >

   <p>({{tocurrency(calculateoffertotal($index))}} )</p>

   </td>

   </tr>

</table>


   </div>

<div class="row" id="firstinnerrow"> 

   <div class="col-sm-6">  <h6>Tax<h6> </div> <div class="col-sm-3"> <p><p> </div><div class="col-sm-3"> <p><p> </div>  </div>

   <div> </div>
   
   <div class="row" id="toprow"> 

    <div class="col-sm-6"> <h6>Total<h6> </div> 

    <div class="col-sm-3"> <p><p> </div>

    <div class="col-sm-3"> 


      <p class="rtstlt">

        {{tocurrency(calculatetotals() - calculatediscounttotal())}}
   
        <p> 

   </div>  </div>
   
   <div>

<div class="row" > <div class="col-sm-6"> <p><p> </div> <div class="col-sm-3"> <p><p> </div>

 <div class="col-sm-3"> <p><button class="btn btn-default input-sm outline" type="button" id ="totalid" ng-click="personaldetails()"> CONTINUE</button><p> </div>  

</div>

  </div>



 

  <form action="booking-confirmation.html" method="post" id="detailsform" class="detailsform" name="detailsform">


 <div class="row" id="detailscol" class="detailscol">


<h2> You're ready to confirm your stay with us. </h2>
   


   <section class="device-compatiability-icon-section">


<div class="row">
  
  <div class="col-sm-12"><h5> We're accepting the following payments  </h5>

<div class="row">
  
  <div class="col-sm-2"> 

 <img  src="/credit_card_&_payment_logos/large/amex-1-l.png"
  style="width:100%">

  </div>

   <div class="col-sm-2">

 <img src="/credit_card_&_payment_logos/large/visa-1-l.png"
  style="width:100%">

  </div>

   <div class="col-sm-2"> 

 <img  src="/credit_card_&_payment_logos/large/mastercard-1-l.png"
  style="width:100%">

  </div>

   <div class="col-sm-2">

 <img  src="/credit_card_&_payment_logos/large/maestro-1-l.png"
  style="width:100%">

  </div>

  <div class="col-sm-2">

 <img  src="/credit_card_&_payment_logos/large/jcb-1-l.png"
  style="width:100%">

  </div>

 <div class="col-sm-2">

 <img  src="/credit_card_&_payment_logos/large/paypal-1-l.png"
  style="width:100%">

  </div>

 </div>

  </div>

  </div>




</section>

&nbsp;


   <div class="row" id="firstinnerrow"> 

   <div class="col-sm-6"> <input type="text" class="form-control" id="resfirstname" placeholder="Enter first name" data-ng-model="fname">  </div> 


   <div class="col-sm-6"> <input type="text" class="form-control" id="reslastname" placeholder="Enter last name" data-ng-model="lname" >  </div>  

   
   </div>

&nbsp;

<div class="row" id="firstinnerrow"> 

   <div class="col-sm-6"> 
<input type="tel" id="phone" class="form-control" data-ng-model="phone">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="intl-tel-input-9.2.0/build/js/intlTelInput.js"></script>
<script>
  $("#phone").intlTelInput();
</script>
  </div> 


   <div class="col-sm-6"> <input type="text" class="form-control" id="resemail" placeholder="Enter email" data-ng-model="email">  </div>  

   
   </div>
&nbsp;

   <span id="detailserror">  {{detailserror}}</span>

 <div id="payment-form"></div>

<div class="row" id="firstinnerrow"> 

   <div class="col-sm-12"> 

    <label><input type="checkbox" id="ckhterms" /> You must agree to the terms of OUR VILLA <a href=""> below</a> to stay with us </label> </div> </div>
    
  <div class="row"  > 

   <div class="col-sm-6"> <p><p> </div> 

   <div class="col-sm-3"> <p><p> </div>


   <div class="col-sm-3">  <p><button class="btn btn-default input-sm outline " type="submit"  > Pay $ {{caldeposit(total)}}</button><p>  </div>  

   </div>
   <div class="row">

<div class="col-sm-12">

<p> Rates are per room per night, quoted in U.S. dollars, are based on double occupancy per room. Rates quoted are plus 26.5% Government tax and service charge. </p>


&nbsp;


<h4>DEPOSIT POLICY:</h4>

&nbsp;
<p style="text-align:left;"> {{caldeposit(total)}}deposit is required upon making a reservation. Final payment is due in full 14 days prior to arrival date, 30 days for Easter and 60 days for Christmas/New Year and is non-refundable.
</p>  

&nbsp;

<h4>CANCELLATION, NO-SHOW AND REFUND POLICIES:</h4>
&nbsp;
<p>A full refund is due when cancelled 45 days prior to arrival, 60 days for Easter and 90 days during Christmas and New Year. The full amount of the stay is non-refundable when inside 45 days, 60 days for Easter and 90 days during Christmas and New Year.</p>  
&nbsp;
<p>No refund and full amount of stay is forfeited when there is a no-show.</p>    

</div>

   </div>



</form>






   </div>



   </div>





</div>



</section>


</div>



</div>




</section>



</section>


<footer>
<div class="row firstrow">

  <div class="col-sm-4" id="footer_column_3">  





<h6> CONNECT WITH SINOPIA INN </h6>

<div class="row iconset">
  
  <div class="col-sm-12"> 

 <img  src="/images/social-media/facebook.png">  <img  src="/images/social-media/facebook.jpeg">   <img  src="/images/social-media/linkedin.jpeg">   <img  src="/images/social-media/twitter.png"> <img  src="/images/social-media/linkedIn.png"> <img  src="/images/social-media/instagram.png">

  </div>

</div>

</br>

<div class="row">

  <div class="col-sm-12 download_buttons_col" > 

<h6> <i class="fa fa-mobile" style="font-size:30px;color:black"></i><i class="fa fa-mobile" style="font-size:36px;color:black"></i>  &nbsp;GET THE MOBILE APP </h6>
  
  </div>

 </div>


<div class="row">

  <div class="col-sm-12 download_buttons_col" > 


   <input class="download_buttons" src="/images/google_button.png" type="image" /> <input class="download_buttons"  src="/images/apple_button.png" type="image" />

 
  </div>


 
</div>

</br>

<a href="index.html"><img src='images/logo.png' /></a>
&nbsp;</br>
<p>Zion Hill, Fairy Hill P.O  Portland, Jamaica </br> +1 212 888 7000 - info@sinopiainn.com </p>


 </div>



 <div class="col-sm-4" id="footer_column_3">  





<h6>MORE LINKS </h6>

<ul> 

<li> <a href="directions-and-location.html" > Location & Directions </a> </li>
 
<li> <a href="reservation.html" > Make a reservation</li>
 
<li> <a href="mobile-app.html" > Smartphone App</li>
  
</ul>

<h6> <a href="blog/index.html" class="footer_column_3_link_title"> RECENT BLOG POSTS </a> </h6> 

<ul id="recent_blog_posts" style="list-type:square!important;"></ul>



   </div>

   <div class="col-sm-4" id="footer_column_3">  


<h6>STAY IN TOUCH</h6>

<p style="padding-bottom:20px;font-size:small;">Missed us when we’re away? Add your email below so we can update you on news and offers from us at Sinopia Inn.</p>

<form action="connect.html" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" validate  role="form">


<div class="input-group" style="padding-bottom:20px;">

<input type="email" id="subscribers_email" class="form-control" placeholder="Please enter your email address" name="subscribers_email">

<span class="input-group-btn">
<button class="btn btn-secondary" type="submit" >
<span class="glyphicon glyphicon-triangle-right" aria-hidden="true">
</button>
</span>
</div>

</form>

<p  style="padding-bottom:10px;font-size:small;">For more information on how we use your personal details please refer to our Privacy Policy and  Cookie Policy

</p>

   </div>

  

   </div>

  


</div>

</footer>




<!-- <script src="/javascripts/main.js" ></script>

<script src="/javascripts/main-controller.js" ></script>-->

<script src="/jquery/dist/jquery.min.js" ></script>

<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="https://js.braintreegateway.com/js/braintree-2.23.0.min.js"></script>

<script src="/scripts/your-reservation.js" ></script>

<script src="/scripts/checkout.js" ></script>

<script src="braintree-web/hosted-fields.js"></script>
<script src="braintree-web/paypal.js"></script>
<script src="braintree-web/data-collector.js"></script>
  <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'de,en,es,fr,it,ja,la,nl,pa,pl,pt,ru,sv,th,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>