<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Self Catering Holiday Villa in Portland Jamaica">

<meta name="keywords" content="Holiday,Villa,Portland,Port Antonio,Jamaica,Self Catering,Travel, Excursions, Beaches, Experiential Trips. Tours, Sight seeing, Yoga, Waterfalls, Rivers, Rafting, Blue Lagoon, Sun ,Sand, Sea">

<meta name="author" content="Machel Slack">



<link rel="stylesheet" type="text/css" href="/styles/mainBlog.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link href='//fonts.googleapis.com/css?family=Waiting for the Sunrise' rel='stylesheet'>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="icon" type="image/png"  href="images/jmtrax_icon.png">
  

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Self Catering Holiday Villa in Portland Jamaica">

<meta name="keywords" content="Holiday,Villa,Portland,Port Antonio,Jamaica,Self Catering,Travel, Excursions, Beaches, Experiential Trips. Tours, Sight seeing, Yoga, Waterfalls, Rivers, Rafting, Blue Lagoon, Sun ,Sand, Sea">

<title> Sinopia Inn Self Catering Holiday Villa in Portland Jamaica |  Blog </title>


</head>

<body onload="loadArticles()" >


<!-- The Modal -->
<div id="myModal" class="modal-footer-panel">

  <!-- Modal content -->
  <div class="modal-content-footer">
    <div class="modal-header">
      <span class="close">&times;</span>
      <p>This website uses cookies. We use cookies to help make this website better, to improve our services and for advertising purposes.You can learn more about our use of cookies and change your browser settings in order to avoid cookies by clicking <a href="privacy-and-cookies-statement.html"> here. </a>  Would you like to continue ?   <label><input type="radio" name="optradio" class="cookies-yes" value="yes">&nbsp;Yes</label>&nbsp;<label><input type="radio" name="optradio" class="cookies-no" value="no">&nbsp;No</label></p>
    </div>
 
  </div>

  </div>

  
<nav id="mySidenav" class="sidenav">

<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

<ul>

<li class="dropdown-link"> <a href="index.html" >   SINOPIA INN   </a>  </li>

<li class="dropdown-link">  <a href="our-villa.html" > HOME </a> 



</li>  

<li class="dropdown-link" > <a href="rooms-and-rates.html"  >INTERESTS </a> <ul class="dropdown-content">

<li> <a href="/family trips/index.html"> Family Trips </a>

</li>

 <li><a href="treks.html" > Beaches </a> </li>

<li><a href="family-sporting-trips.html" >Food & Drink </a></li>

<li><a href="local-experiences.html" > History & Culture </a></li>

<li><a href="beaches.html" > Island Hopping & Crusing</a></li>

<li><a href="plan-a-trip.html" >  New Discoveries </a></li>
 
<li><a href="yoga.html" > Off The Beaten Path </a></li>

<li><a href="family-sporting-trips.html" > Spa & Welness </a></li>

<li><a href="experiential-trips.html" > Wildlife & Going Green </a></li>

</ul>

</li>  

<li class="dropdown-link"> <a href="travel-stories.html"  >STORIES</a>  

<div class="dropdown-content" >

<a href="culinary-experiences.html"> Family Trips </a> 

<a href="treks.html" > Beaches </a>

<a href="family-sporting-trips.html" >Food & Drink </a>

<a href="local-experiences.html" > History & Culture </a>

<a href="beaches.html" > Island Hopping & Crusing</a>

<a href="plan-a-trip.html" >  New Discoveries </a>
 
<a href="yoga.html" > Off The Beaten Path </a>

<a href="family-sporting-trips.html" > Spa & Welness </a>

<a href="experiential-trips.html" > Wildlife & Going Green </a>


</div>



</li>


<li> <a href="rewards-and-recognition.html" > <span > HEALTHY EATING </span> </a> </li>

<li class="dropdown-link" > <a href="blog.html"  >VACATION SHOP </a>
</li> 

<li class="dropdown-link" > <a href="contact.html"  > CONTACT </a>
</li> 





</ul>  
</nav>

<header  class="topnav-top-header" >

<div class="row" style="margin:0px!important;">

     <div class="col-sm-4" >
&nbsp;
     </div>

      <div class="col-sm-4" >

<a href="index.html" ><img src="/images/brochure-logo-blog.png" class="logo" ></a>
     </div>

      <div class="col-sm-4" style="display:table-cell!important;">
<ul>
<li>
  
<a href="mailto:info@sinopiainn.com" class="" style="vertical-align:middle!important;font-size: 120%;">   <span class="bookingform-rewards-heading1" style="color:white!important" >  write to us at info@sinopiainn.com  </span > </a> 



</li>

</ul>


     </div>



</div>
</header>
<header class="topnav-header" >


<ul class="topnav">

<li class="dropdown-link"> <a href="../../../index.html" >  <span > SINOPIA INN </span>   </a>   


</li>  <span class= "menudivider" > | </span>


<li class="dropdown-link" > <a class="menu_icon_home" >  <span > BLOG HOME </span></a> <ul class="dropdown-content">

<li> <a href="/blog/style/index.html" class="menu_icon_family" > &nbsp; THE STYLE </a> </li>

<li> <a href="/blog/taste/index.html" class="menu_icon_food" > &nbsp; THE TASTE </a></li>

<li> <a href="/blog/look/index.html" class="menu_icon_look" >&nbsp; THE LOOK </a></li>

<li class="inner-dropdown-link"><a class="menu_icon_thrill " > &nbsp;THE THRILL  </a>  <div class="inner-dropdown-content">

<a href="/blog/thrill/family trips/index.html" class="menu_icon_family" > &nbsp; FAMILY TRIPS </a> 

<a href="/blog/thrill/beaches/index.html" class="menu_icon_beaches" > &nbsp; BEACHES </a>

<a href="/blog/thrill/festivals/index.html" class="menu_icon_festivals" >&nbsp;FESTIVALS </a>

<a href="/blog/thrill/food & drink/index.html" class="menu_icon_food" > &nbsp;FOOD & DRINK </a>

<a href="/blog/thrill/history arts & culture/index.html" class="menu_icon_art" > &nbsp;HISTORY, ARTS & CULTURE </a>

<a href="/blog/thrill/island hoping & crusing/index.html" class="menu_icon_island" > &nbsp;ISLAND HOPPING & CRUSING</a>

<a href="/blog/thrill/new discoveries/index.html" class="menu_icon_discoveries" >  &nbsp;NEW DISCOVERIES </a>
 
<a href="/blog/thrill/off the beaten path/index.html" class="menu_icon_offroad" > &nbsp;OFF THE BEATEN PATH </a>

<a href="/blog/thrill/spa & wellness/index.html" class="menu_icon_spa" > &nbsp;SPA & WELLNESS </a>

<a href="/blog/thrill/sporting & gaming /index.html" class="menu_icon_casino" > &nbsp;SPORTS & GAMING  </a>

<a href="/blog/thrill/wildlife & going green/index.html" class="menu_icon_green" >&nbsp; WILDLIFE & GOING GREEN </a>

</div> </li>



</ul>

</li>  <span class= "menudivider" >| </span>

<li class="dropdown-link"> <a class="menu_icon_travel" >  <span >TRAVEL STORIES </span></a>

<div class="dropdown-content" id="blog-archive-menu">


</div>

</li> <span class= "menudivider" >| </span>

<li> <a href="healthy eating/index.html" class="menu_icon_health" >  <span > HEALTHY EATING </span> </a> </li> <span class= "menudivider" >| </span>

<li class="dropdown-link" > <a href="../shop/index.html" class="menu_icon_vacation" >  <span> VACATION SHOP </span></a>

</li> 
<span class= "menudivider" >| </span>
<li class="dropdown-link" > <a href="contact.html" class="menu_icon_contact" >  <span >  CONTACT </span></a>
</li><span class= "menudivider" >| </span>
<li class="dropdown-link" > <a class="menu_icon_more" >  <span >  MORE </span></a> <ul class="dropdown-content">

<li> <a href="/blog/competitions.html" class="menu_icon_competition" > &nbsp; COMPETITIONS </a> </li>

<li><a href="/blog/get-inspired.html" class="menu_icon_beaches" > &nbsp; GET INSPIRED </a></li>

<li><a href="/blog/beaches/index.html" class="menu_icon_beaches" > &nbsp; QUESTIONS & ANSWERS </a></li>

<li><a href="working with us.html" class="menu_icon_work"  >&nbsp; WORKING WITH US </a></li>


</ul>
</li>


<li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="openNav()">☰</a>
</li>



</ul></header>



<div class="row" style="margin:0 auto!important;">
  
  <div class="col-sm-1"> 




  </div>

 <div class="col-sm-7"> 

<h1 class="buttonloadContainerHeadingFAQ bookingform-rewards-heading1">WORK WITH US!</h1>

<p><b style="font-size:100%">Sinopia Inn Travel Blog is all about traveling as a lifestyle. Extraordinary places and adventurous activities, we love to encourage people to travel more by giving them valuable tips and inspiration. </b></p>
 
 
<h1 class="buttonloadContainerHeadingFAQ bookingform-rewards-heading1"> LET'S PARTNER UP!</h1>
<p>We're available for collaboration and advertising in the travel industry. We're  always interested to explore new places and experience adventures to share them with my readers. We look forward to publishing exciting stories from the road, reviews of the places we've stayed and the share stunning images from the destinations itself.</p>
 

 Already registered click<a href="login.html"> here </a> to login, or  download our media kit <a href="mediakit.pdf"> here </a> for more information about our products and services.
 
 
<h1 class="buttonloadContainerHeadingFAQ bookingform-rewards-heading1">WE'RE LOOKING FORWARD WORKING WITH YOU!</h1>

<p>For all advertising and PR inquiries please contact us below, We'll get back to you asap. Thank you.</p>

<div class="row">

<div class="col-sm-6"> <form class="form-horizontal" role="form" name="contactForm" novalidate data-ng-model="contactForm">

  <div class="form-group ">
 
  
    <div class="col-sm-12">

      <label> Name (required) </label> &nbsp;
      <input type="text" class="form-control" id="name" required data-ng-model="name" name="name" style="border:#f9f8f8 thin solid!important;"> 
    </div>

  </div>
    <div class="form-group ">
   
    <div class="col-sm-12"> 

        <label> Email (required) </label> &nbsp;

      <input type="email" class="form-control" id="email"  required name="email" data-ng-model="email" style="border:#f9f8f8 thin solid!important;">
    </div>

  </div>

  <div class="form-group ">
   
    <div class="col-sm-12"> 

        <label> Company Website </label> &nbsp;

      <input type="text" class="form-control" id="website"  required name="website" data-ng-model="website" style="border:#f9f8f8 thin solid!important;">
    </div>

  </div>
   



  
<div class="form-group">
   
    <div class="col-sm-12"> 

      <label>Message</label>
     <textarea class="form-control" rows="5" id="message" data-ng-model="message" style="border:#f9f8f8 thin solid!important;"></textarea>
    </div>
  </div>



  <div class="form-group"> 
     <div class="col-sm-8"> </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-default contact-us-button " id="send_button" data-ng-click="contact_form_submission()" 

       data-ng-disabled="contactForm.name.$invalid || contactForm.email.$invalid"

      > Submit</button>
    

    </div>

  </div>

</form></div>
<div class="col-sm-6"></div>



</div>
 </div>


<div class="col-sm-3"> 

<div class="Imagecontainer">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- MPU -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-1167506574811017"
     data-ad-slot="1947839488"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="newsletter">

<h6>SINOPIA INN NEWSLETTER</h6>

<p style="padding-bottom:20px;font-size:small;color:white!important;">Missed us when we’re away? Add your email below so we can update you on offers and the latest food and travel ideas sent straight to your inbox from us at Sinopia Inn.</p>

<form action="../../connect.html" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" validate  role="form">


<div class="input-group" style="padding-bottom:20px;">

<input type="email" id="subscribers_email" class="form-control" placeholder="Please enter your email address" name="subscribers_email">

<span class="input-group-btn">
<button class="btn btn-secondary" type="button" >
<span class="glyphicon glyphicon-triangle-right" aria-hidden="true">
</button>
</span>
</div>

</form>

<p  style="padding-bottom:10px;font-size:small;color:white!important;">For more information on how we use your personal details please refer to our Privacy Policy and  Cookie Policy

</p>



</div>

<div>

<h1> STAY IN TOUCH </h1>


<p style="padding-bottom:20px;font-size:small;">Join us on Twiiter and Facebook to share your experience travelling at home or abroad. We're interested to know. 

 <div class="row"> 
 <div class="col-sm-6"> <img src="../../../images/Follow_us_on_Twitter_MPU.png" /> </div>
 <div class="col-sm-6"> <img src="../../../images/Follow_us_on_Facebook_MPU.png" /> </div>
 </div>

</p>
</div>

<div style="text-align: center!important;">
<span class="bookingform-rewards-heading1" style="font-size:350%!important;" >It is easy ...</span> 

<p>Here's what a lucky traveller shared with us</p>

<q><p> <b>I arrived on a direct flight into Montego Bay and checked in at a luxurious villa at Round Hill,with Ralph Lauren designed oceanfront rooms. After relaxing on the white sand beach, I tried some local jerk. In addition to sampling spa treatment, I'd make sure I found time to try some of Jamaicas exciting activites, like zip lining through the treetops or riding the bobsled down Mystic Mountain. In the evening i'd head down to the strip for rum and cocktails in the bars and cafes and would be sure to end the night with dance at Margaritaville.</b></p><q>


</div>


  </div>

<div class="col-sm-1"> 
</div>

</div>




<footer style="margrin-top:500px!important;">
<div class="row firstrow">

  <div class="col-sm-4" id="footer_column_3">  

<h6> CONNECT WITH SINOPIA INN </h6>

<div class="row iconset">
  
  <div class="col-sm-12"> 

 <img  src="/images/social-media/facebook.png">  <img  src="/images/social-media/pin.png">   <img  src="/images/social-media/tube.png">   <img  src="/images/social-media/twitter.png"> <img  src="/images/social-media/linkedIn.png"> <img  src="/images/social-media/instagram.png">

  </div>

</div>

</br>

<div class="row">

  <div class="col-sm-12 download_buttons_col" > 

<h6> <i class="fa fa-mobile" style="font-size:30px;color:black"></i><i class="fa fa-mobile" style="font-size:36px;color:black"></i>  &nbsp;GET THE MOBILE APP </h6>
  
  </div>

 </div>


<div class="row">

  <div class="col-sm-12 download_buttons_col" > 


   <input class="download_buttons" src="/images/google_button.png" type="image" /> <input class="download_buttons"  src="/images/apple_button.png" type="image" />

 
  </div>


 
</div>

</br>

<a href="index.html"><img src='images/logo.png' /></a>
&nbsp;</br>
<p>Zion Hill, Fairy Hill P.O  Portland, Jamaica </br> +1 212 888 7000 - info@sinopiainn.com </p>


 </div>



 <div class="col-sm-4" id="footer_column_3">  





<h6>MORE LINKS </h6>

<ul> 

<li> <a href="../directions-and-location.html" > Location & Directions </a> </li>
 
<li> <a href="../reservation.html" > Make a reservation</li>
 
<li> <a href="../mobile-app.html" > Smartphone App</li>
  
</ul>

<h6> <a href="blog/index.html" class="footer_column_3_link_title"> RECENT BLOG POSTS </a> </h6> 

<ul id="recent_blog_posts" style="list-type:square!important;"></ul>



   </div>

   <div class="col-sm-4" id="footer_column_3">  

<h6>STAY IN TOUCH</h6>

<p style="padding-bottom:20px;font-size:small;">Missed us when we’re away? Add your email below so we can update you on offers and the latest food and travel ideas sent straight to your inbox from us at Sinopia Inn.</p>

<form action="connect.html" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" validate  role="form">


<div class="input-group" style="padding-bottom:20px;">

<input type="email" id="subscribers_email" class="form-control" placeholder="Please enter your email address" name="subscribers_email">

<span class="input-group-btn">
<button class="btn btn-secondary" type="button" >
<span class="glyphicon glyphicon-triangle-right" aria-hidden="true">
</button>
</span>
</div>

</form>

<p  style="padding-bottom:10px;font-size:small;">For more information on how we use your personal details please refer to our Privacy Policy and  Cookie Policy

</p>

   </div>

  

   </div>

  


</div>

</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="/scripts/mainBlogIndex.js" type="text/javascript"></script>

<script type="text/javascript">


function googleTranslateElementInit() {

  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');

}

</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>










<script type="text/javascript" src="scripts/instafeed.js"></script>

<script type="text/javascript">


  var userFeed = new Instafeed({
    get: 'user',
    userId: '207254463',
    clientId: '22050d93815945ac9f575e3fcf38962d',
    accessToken: '207254463.22050d9.9df9602edcf9424082d95c1f55be004e',
    sortBy: 'most-recent',
    template: '<img src="{{image}}" style="padding:3px;"/>',
    limit: 4,
    links: false
  });
  userFeed.run();

</script>
</body>

</html>